@use 'sass:map';
@use './mat/app';
@use './mat/autocomplete';
@use './mat/badge';
@use './mat/bottom-sheet';
@use './mat/card';
@use './mat/checkbox';
@use './mat/chip';
@use './mat/circular-progress';
@use './mat/datepicker';
@use './mat/dialog';
@use './mat/divider';
@use './mat/elevated-card';
@use './mat/expansion';
@use './mat/extended-fab';
@use './mat/fab';
@use './mat/fab-small';
@use './mat/filled-button';
@use './mat/filled-text-field';
@use './mat/form-field';
@use './mat/full-pseudo-checkbox';
@use './mat/grid-list';
@use './mat/icon';
@use './mat/icon-button';
@use './mat/linear-progress';
@use './mat/list';
@use './mat/menu';
@use './mat/minimal-pseudo-checkbox';
@use './mat/optgroup';
@use './mat/option';
@use './mat/outlined-button';
@use './mat/outlined-card';
@use './mat/outlined-text-field';
@use './mat/paginator';
@use './mat/plain-tooltip';
@use './mat/protected-button';
@use './mat/radio';
@use './mat/ripple';
@use './mat/secondary-navigation-tab';
@use './mat/select';
@use './mat/sidenav';
@use './mat/slider';
@use './mat/snack-bar';
@use './mat/sort';
@use './mat/standard-button-toggle';
@use './mat/stepper';
@use './mat/switch';
@use './mat/tab-header';
@use './mat/tab-indicator';
@use './mat/table';
@use './mat/text-button';
@use './mat/timepicker';
@use './mat/tonal-button';
@use './mat/toolbar';
@use './mat/tree';

/// Gets the full set of M3 tokens for the given theme object.
/// @param {Map} $systems The MDC system tokens
/// @param {Boolean} $exclude-hardcoded Whether to exclude hardcoded token values
/// @param {Map} $token-slots Possible token slots
/// @return {Map} Full set of M3 tokens
@function get-m3-tokens($systems, $exclude-hardcoded, $token-slots) {
  $tokens-list: (
    app.get-tokens($systems, $exclude-hardcoded, $token-slots),
    autocomplete.get-tokens($systems, $exclude-hardcoded, $token-slots),
    badge.get-tokens($systems, $exclude-hardcoded, $token-slots),
    bottom-sheet.get-tokens($systems, $exclude-hardcoded, $token-slots),
    card.get-tokens($systems, $exclude-hardcoded, $token-slots),
    checkbox.get-tokens($systems, $exclude-hardcoded, $token-slots),
    chip.get-tokens($systems, $exclude-hardcoded, $token-slots),
    circular-progress.get-tokens($systems, $exclude-hardcoded, $token-slots),
    datepicker.get-tokens($systems, $exclude-hardcoded, $token-slots),
    dialog.get-tokens($systems, $exclude-hardcoded, $token-slots),
    divider.get-tokens($systems, $exclude-hardcoded, $token-slots),
    elevated-card.get-tokens($systems, $exclude-hardcoded, $token-slots),
    expansion.get-tokens($systems, $exclude-hardcoded, $token-slots),
    extended-fab.get-tokens($systems, $exclude-hardcoded, $token-slots),
    fab.get-tokens($systems, $exclude-hardcoded, $token-slots),
    fab-small.get-tokens($systems, $exclude-hardcoded, $token-slots),
    filled-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    filled-text-field.get-tokens($systems, $exclude-hardcoded, $token-slots),
    form-field.get-tokens($systems, $exclude-hardcoded, $token-slots),
    full-pseudo-checkbox.get-tokens($systems, $exclude-hardcoded, $token-slots),
    grid-list.get-tokens($systems, $exclude-hardcoded, $token-slots),
    icon.get-tokens($systems, $exclude-hardcoded, $token-slots),
    icon-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    linear-progress.get-tokens($systems, $exclude-hardcoded, $token-slots),
    list.get-tokens($systems, $exclude-hardcoded, $token-slots),
    menu.get-tokens($systems, $exclude-hardcoded, $token-slots),
    minimal-pseudo-checkbox.get-tokens($systems, $exclude-hardcoded, $token-slots),
    optgroup.get-tokens($systems, $exclude-hardcoded, $token-slots),
    option.get-tokens($systems, $exclude-hardcoded, $token-slots),
    outlined-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    outlined-card.get-tokens($systems, $exclude-hardcoded, $token-slots),
    outlined-text-field.get-tokens($systems, $exclude-hardcoded, $token-slots),
    paginator.get-tokens($systems, $exclude-hardcoded, $token-slots),
    plain-tooltip.get-tokens($systems, $exclude-hardcoded, $token-slots),
    protected-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    radio.get-tokens($systems, $exclude-hardcoded, $token-slots),
    ripple.get-tokens($systems, $exclude-hardcoded, $token-slots),
    secondary-navigation-tab.get-tokens($systems, $exclude-hardcoded, $token-slots),
    select.get-tokens($systems, $exclude-hardcoded, $token-slots),
    sidenav.get-tokens($systems, $exclude-hardcoded, $token-slots),
    slider.get-tokens($systems, $exclude-hardcoded, $token-slots),
    snack-bar.get-tokens($systems, $exclude-hardcoded, $token-slots),
    sort.get-tokens($systems, $exclude-hardcoded, $token-slots),
    standard-button-toggle.get-tokens($systems, $exclude-hardcoded, $token-slots),
    stepper.get-tokens($systems, $exclude-hardcoded, $token-slots),
    switch.get-tokens($systems, $exclude-hardcoded, $token-slots),
    tab-header.get-tokens($systems, $exclude-hardcoded, $token-slots),
    tab-indicator.get-tokens($systems, $exclude-hardcoded, $token-slots),
    table.get-tokens($systems, $exclude-hardcoded, $token-slots),
    text-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    timepicker.get-tokens($systems, $exclude-hardcoded, $token-slots),
    tonal-button.get-tokens($systems, $exclude-hardcoded, $token-slots),
    toolbar.get-tokens($systems, $exclude-hardcoded, $token-slots),
    tree.get-tokens($systems, $exclude-hardcoded, $token-slots),
  );

  $merged-tokens: ();
  @each $tokens in $tokens-list {
    $merged-tokens: map.deep-merge($merged-tokens, $tokens);
  }

  @return $merged-tokens;
}
