//
// Design system display name: Material 3
// Design system version: v0.161
//

@function md-ref-typeface-values() {
  @return (
    brand: (Roboto),
    plain: (Roboto),
    bold: 700,
    medium: 500,
    regular: 400
  );
}
