//
// Design system display name: Material 3
// Design system version: v0.161
//

@function md-ref-palette-values() {
  @return (
    black: #000,
    error0: #000,
    error10: #410e0b,
    error100: #fff,
    error20: #601410,
    error30: #8c1d18,
    error40: #b3261e,
    error50: #dc362e,
    error60: #e46962,
    error70: #ec928e,
    error80: #f2b8b5,
    error90: #f9dedc,
    error95: #fceeee,
    error99: #fffbf9,
    neutral-variant0: #000,
    neutral-variant10: #1d1a22,
    neutral-variant100: #fff,
    neutral-variant20: #322f37,
    neutral-variant30: #49454f,
    neutral-variant40: #605d66,
    neutral-variant50: #79747e,
    neutral-variant60: #938f99,
    neutral-variant70: #aea9b4,
    neutral-variant80: #cac4d0,
    neutral-variant90: #e7e0ec,
    neutral-variant95: #f5eefa,
    neutral-variant99: #fffbfe,
    neutral0: #000,
    neutral10: #1c1b1f,
    neutral100: #fff,
    neutral12: #201f23,
    neutral17: #2b292d,
    neutral20: #313033,
    neutral22: #313033,
    neutral24: #313033,
    neutral30: #484649,
    neutral4: #0e0e11,
    neutral40: #605d62,
    neutral50: #787579,
    neutral6: #141317,
    neutral60: #939094,
    neutral70: #aeaaae,
    neutral80: #c9c5ca,
    neutral87: #ddd8dd,
    neutral90: #e6e1e5,
    neutral92: #ece7ec,
    neutral94: #f1ecf1,
    neutral95: #f4eff4,
    neutral96: #f7f2f7,
    neutral98: #fdf8fd,
    neutral99: #fffbfe,
    primary0: #000,
    primary10: #21005d,
    primary100: #fff,
    primary20: #381e72,
    primary30: #4f378b,
    primary40: #6750a4,
    primary50: #7f67be,
    primary60: #9a82db,
    primary70: #b69df8,
    primary80: #d0bcff,
    primary90: #eaddff,
    primary95: #f6edff,
    primary99: #fffbfe,
    secondary0: #000,
    secondary10: #1d192b,
    secondary100: #fff,
    secondary20: #332d41,
    secondary30: #4a4458,
    secondary40: #625b71,
    secondary50: #7a7289,
    secondary60: #958da5,
    secondary70: #b0a7c0,
    secondary80: #ccc2dc,
    secondary90: #e8def8,
    secondary95: #f6edff,
    secondary99: #fffbfe,
    tertiary0: #000,
    tertiary10: #31111d,
    tertiary100: #fff,
    tertiary20: #492532,
    tertiary30: #633b48,
    tertiary40: #7d5260,
    tertiary50: #986977,
    tertiary60: #b58392,
    tertiary70: #d29dac,
    tertiary80: #efb8c8,
    tertiary90: #ffd8e4,
    tertiary95: #ffecf1,
    tertiary99: #fffbfa,
    white: #fff,
  );
}
