@use 'sass:map';
@use 'sass:list';
@use '../core/tokens/m3-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, paginator);

/// Generates custom tokens for the mat-paginator.
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (),
    color: (),
    typography: (
      container-background-color: map.get($system, surface),
      container-text-font: map.get($system, body-small-font),
      container-text-line-height: map.get($system, body-small-line-height),
      container-text-size: map.get($system, body-small-size),
      container-text-tracking: map.get($system, body-small-tracking),
      container-text-weight: map.get($system, body-small-weight),
      disabled-icon-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      enabled-icon-color: map.get($system, on-surface-variant),
      select-trigger-text-size: map.get($system, body-small-size),
    ),
    density: get-density-tokens(map.get($theme, inspection.$internals, density-scale)),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -5);
  $index: ($scale * -1) + 1;

  @return (
    container-size: list.nth((56px, 52px, 48px, 40px, 40px, 40px), $index),
    form-field-container-height: list.nth((40px, 40px, 40px, 40px, 40px, 36px), $index),
    form-field-container-vertical-padding: list.nth((8px, 8px, 8px, 8px, 8px, 6px), $index),
    touch-target-display: list.nth((block, block, none, none, none, none), $index),
  );
}
