@use 'sass:map';
@use 'sass:list';
@use '../core/style/sass-utils';
@use '../core/tokens/m3-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, paginator);

/// Generates custom tokens for the mat-paginator.
/// @param {Map} $systems The MDC system tokens
/// @param {Boolean} $exclude-hardcoded Whether to exclude hardcoded token values
/// @param {Map} $token-slots Possible token slots
/// @return {Map} A set of custom tokens for the mat-paginator
@function get-tokens($systems, $exclude-hardcoded, $token-slots) {
  $tokens: sass-utils.merge-all(
    m3-utils.generate-typography-tokens($systems, container-text, body-small),
    (
      container-text-color: map.get($systems, md-sys-color, on-surface),
      container-background-color: map.get($systems, md-sys-color, surface),
      enabled-icon-color: map.get($systems, md-sys-color, on-surface-variant),
      disabled-icon-color: sass-utils.safe-color-change(
          map.get($systems, md-sys-color, on-surface), $alpha: 0.38),
      select-trigger-text-size: map.get($systems, md-sys-typescale, body-small-size),
    )
  );

  @return m3-utils.namespace($prefix, $tokens, $token-slots);
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  $scale: theming.clamp-density(inspection.get-theme-density($theme), -5);
  $index: ($scale * -1) + 1;

  @return (
    container-size: list.nth((56px, 52px, 48px, 40px, 40px, 40px), $index),
    form-field-container-height: list.nth((40px, 40px, 40px, 40px, 40px, 36px), $index),
    form-field-container-vertical-padding: list.nth((8px, 8px, 8px, 8px, 8px, 6px), $index),
    touch-target-display: list.nth((block, block, none, none, none, none), $index),
  );
}
