@use '@angular/cdk';
@use './m2-paginator';
@use '../core/tokens/token-utils';
@use '../core/style/vendor-prefixes';

$padding: 0 8px;
$page-size-margin-right: 8px;

$items-per-page-label-margin: 0 4px;
$selector-margin: 0 4px;
$selector-trigger-width: 84px;
$touch-target-height: 48px;

$range-label-margin: 0 32px 0 24px;
$button-icon-size: 28px;

$token-prefix: m2-paginator.$prefix;
$token-slots: m2-paginator.get-token-slots();

.mat-mdc-paginator {
  display: block;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    @include vendor-prefixes.smooth-font();
    color: token-utils.slot(container-text-color);
    background-color: token-utils.slot(container-background-color);
    font-family: token-utils.slot(container-text-font);
    line-height: token-utils.slot(container-text-line-height);
    font-size: token-utils.slot(container-text-size);
    font-weight: token-utils.slot(container-text-weight);
    letter-spacing: token-utils.slot(container-text-tracking);

    // Apply custom form-field density for paginator.
    --mat-form-field-container-height: #{token-utils.slot(form-field-container-height)};
    --mat-form-field-container-vertical-padding: #{
        token-utils.slot(form-field-container-vertical-padding)};

    .mat-mdc-select-value {
      font-size: #{token-utils.slot(select-trigger-text-size)};
    }
  }

  // This element reserves space for hints and error messages.
  // Hide it since we know that we won't need it.
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-select {
    // The smaller font size inherited from the paginator throws off the centering of the select
    // inside the form field. This `line-height` helps to center it relative to the other text.
    line-height: 1.5;
  }
}

// Note: this wrapper element is only used to get the flexbox vertical centering to work
// with the `min-height` on IE11. It can be removed if we drop support for IE.
.mat-mdc-paginator-outer-container {
  display: flex;
}

.mat-mdc-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $padding;
  flex-wrap: wrap;
  width: 100%;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    min-height: token-utils.slot(container-size);
  }
}

.mat-mdc-paginator-page-size {
  display: flex;
  align-items: baseline;
  margin-right: $page-size-margin-right;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: $page-size-margin-right;
  }
}

.mat-mdc-paginator-page-size-label {
  margin: $items-per-page-label-margin;
}

.mat-mdc-paginator-page-size-select {
  margin: $selector-margin;
  width: $selector-trigger-width;
}

.mat-mdc-paginator-range-label {
  margin: $range-label-margin;
}

.mat-mdc-paginator-range-actions {
  display: flex;
  align-items: center;
}

.mat-mdc-paginator-icon {
  display: inline-block;
  width: $button-icon-size;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    fill: token-utils.slot(enabled-icon-color);

    .mat-mdc-icon-button[aria-disabled] & {
      fill: token-utils.slot(disabled-icon-color);
    }
  }

  [dir='rtl'] & {
    transform: rotate(180deg);
  }
}

@include cdk.high-contrast {
  // The disabled button icon has to be set explicitly since the selector is too specific.
  .mat-mdc-icon-button[aria-disabled] .mat-mdc-paginator-icon,
  .mat-mdc-paginator-icon {
    fill: currentColor;
  }

  .mat-mdc-paginator-range-actions .mat-mdc-icon-button {
    outline: solid 1px;

    &[aria-disabled] {
      color: GrayText;
    }
  }
}

.mat-mdc-paginator-touch-target {
  @include token-utils.use-tokens($token-prefix, $token-slots) {
    display: token-utils.slot(touch-target-display);
  }

  position: absolute;
  top: 50%;
  left: 50%;
  width: $selector-trigger-width;
  height: $touch-target-height;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
