div {
    width: auto;
    display: block;
    text-align: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    margin-top: 10px;
}

.dynamimc {
    @include $mat-elevation(2);

    &:active {
        @include $mat-elevation(8);
    }
}