@use '@angular/cdk';
@use './m2-expansion';
@use '../core/tokens/token-utils';
@use './expansion-variables';

$token-prefix: m2-expansion.$prefix;
$token-slots: m2-expansion.get-token-slots();

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;

  .mat-expansion-panel-animations-enabled & {
    transition: height expansion-variables.$header-transition;
  }

  // Ensures that the focus indicator has the same shape as the header.
  &::before {
    border-radius: inherit;
  }

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    height: token-utils.slot(header-collapsed-state-height);
    font-family: token-utils.slot(header-text-font);
    font-size: token-utils.slot(header-text-size);
    font-weight: token-utils.slot(header-text-weight);
    line-height: token-utils.slot(header-text-line-height);
    letter-spacing: token-utils.slot(header-text-tracking);

    &.mat-expanded {
      height: token-utils.slot(header-expanded-state-height);
    }

    &[aria-disabled='true'] {
      color: token-utils.slot(header-disabled-state-text-color);
    }

    &:not([aria-disabled='true']) {
      cursor: pointer;

      .mat-expansion-panel:not(.mat-expanded) &:hover {
        background: token-utils.slot(header-hover-state-layer-color);

        // Disable the hover on touch devices since it can appear like it is stuck. We can't use
        // `@media (hover)` above, because the desktop support browser support isn't great.
        @media (hover: none) {
          background: token-utils.slot(container-background-color);
        }
      }

      // The `.mat-expansion-panel` here is redundant, but we need the additional specificity.
      .mat-expansion-panel &.cdk-keyboard-focused,
      .mat-expansion-panel &.cdk-program-focused {
        background: token-utils.slot(header-focus-state-layer-color);
      }
    }
  }

  // If the `NoopAnimationsModule` is used, disable the height transition.
  &._mat-animation-noopable {
    transition: none;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &.mat-expanded:focus,
  &.mat-expanded:hover {
    background: inherit;
  }

  &.mat-expansion-toggle-indicator-before {
    flex-direction: row-reverse;

    .mat-expansion-indicator {
      margin: 0 16px 0 0;

      [dir='rtl'] & {
        margin: 0 0 0 16px;
      }
    }
  }
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;

  // width of .mat-expansion-indicator::after element
  &.mat-content-hide-toggle {
    margin-right: 8px;

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: 8px;
    }

    .mat-expansion-toggle-indicator-before & {
      margin-left: 24px;
      margin-right: 0;

      [dir='rtl'] & {
        margin-right: 24px;
        margin-left: 0;
      }
    }
  }
}

.mat-expansion-panel-header-title {
  @include token-utils.use-tokens($token-prefix, $token-slots) {
    color: token-utils.slot(header-text-color);
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 16px;
  align-items: center;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: 16px;
  }

  .mat-expansion-panel-header[aria-disabled='true'] & {
    color: inherit;
  }
}

.mat-expansion-panel-header-description {
  flex-grow: 2;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    color: token-utils.slot(header-description-color);
  }
}

// Creates the expansion indicator arrow. Done using ::after
// rather than having additional nodes in the template.
.mat-expansion-indicator {
  .mat-expansion-panel-animations-enabled & {
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mat-expansion-panel-header.mat-expanded & {
    transform: rotate(180deg);
  }

  &::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;

    @include token-utils.use-tokens($token-prefix, $token-slots) {
      color: token-utils.slot(header-indicator-color);
      display: token-utils.slot(legacy-header-indicator-display,
        inline-block);
    }
  }

  svg {
    width: 24px;
    height: 24px;

    // The SVG icon isn't edge-to-edge so we need to offset
    // it slightly so it's aligned correctly horizontally.
    margin: 0 -8px;

    // Since the container is `display: inline`, we need to set this to center the arrow.
    // Ideally we'd make the container `inline-flex`, but that affects M2.
    vertical-align: middle;

    @include token-utils.use-tokens($token-prefix, $token-slots) {
      fill: token-utils.slot(header-indicator-color);
      display: token-utils.slot(header-indicator-display, none);
    }
  }
}

@include cdk.high-contrast {
  .mat-expansion-panel-content {
    border-top: 1px solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
