@function get-tokens($theme) {
  @return (
    base: (),
    color: private-get-icon-color-tokens(inherit),
    typography: (),
    density: (),
  );
}

// Mixin used to set a specific color on an icon.
@function private-get-icon-color-tokens($color) {
  @return (
    icon-color: $color,
  );
}
