@use 'sass:map';
@use '../core/tokens/m3-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, icon);

/// Generates custom tokens for the mat-icon.
@function get-tokens($theme, $color-variant: null) {
  $system: m3-utils.get-system($theme);
  $color: inherit;
  @if $color-variant {
    $color: map.get($system, $color-variant);
  }

  @return (
    base: (),
    color: (
      color: $color,
    ),
    typography: (),
    density: (),
  );
}
