.scene-datepicker-left {
  top: -220px;
  left: -240px;
}

.scene-datepicker-right {
  top: -80px;
  background: rgba(white, 0.8);
}

mat-calendar {
  position: absolute;
  border: 1px solid;
  border-radius: 4px;
}
