.fab {
    border:none;
    font-size:1.5em;
    color:white;
    background-color: #ff4081;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #b561ff;
}


body {
    margin: 1em;
    background-color: white;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

h2 {
    color: #ccc;
}

h4 {
    margin: 4px;
    padding: 2px;
}
