<div class="example-combobox-container">
  <div #origin class="example-combobox-input-container">
    <span class="material-symbols-outlined example-icon example-search-icon">search</span>
    <input ngCombobox #combobox="ngCombobox" class="example-combobox-input" placeholder="Search..."
      [(value)]="searchString" [(expanded)]="popupExpanded" (blur)="onBlur()" (click)="popupExpanded.set(true)" />
  </div>

  <div aria-live="polite" class="cdk-visually-hidden">
    {{filteredItems().length === 0 ? 'No results found for ' + searchString() : ''}}
  </div>

  <ng-template [cdkConnectedOverlay]="{origin, usePopover: 'inline', matchWidth: true}" [cdkConnectedOverlayOpen]="popupExpanded()"
    [cdkConnectedOverlayDisableClose]="true">
    <ng-template ngComboboxPopup [combobox]="combobox">
      <div class="example-popup">
        @if (filteredItems().length === 0) {
        <div class="example-no-results">No results found</div>
        }
        <div ngComboboxWidget ngGrid focusMode="activedescendant" [tabindex]="-1"
          colWrap="continuous" #grid="ngGrid" [activeDescendant]="grid.activeDescendant()">
          @for (item of filteredItems(); track item.label; let i = $index) {
          <div ngGridRow class="example-grid-row" [attr.aria-selected]="item === selectedItem()">
            <div ngGridCell [id]="item.label + '-label'" [rowIndex]="i" [colIndex]="0"
              class="example-cell-label example-cell">
              <button ngGridCellWidget class="example-label-button example-no-active-outline" (click)="selectItem(item)" (activated)="selectItem(item)">
                {{item.label}}
              </button>
              <mat-icon class="example-selected-icon">check</mat-icon>
            </div>
            <div ngGridCell [id]="item.label + '-delete'" [rowIndex]="i" [colIndex]="1"
              class="example-cell-button example-cell ">
              <button ngGridCellWidget class="example-button example-no-active-outline" (click)="removeItem(item)" (activated)="removeItem(item)"
                (pointerdown)="$event.preventDefault()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>