
.demo-button {
  button, a {
    margin: 8px;
    text-transform: uppercase;
  }

  section {
    align-items: center;
    position: relative;

    &.outlined {
      border: 2px solid lightgray;
      border-radius: 10px;
      margin-top: 20px;
      padding: 15px 5px 5px;
    }

    & > label {
      position: absolute;
      top: calc(-0.5em + -2px);
      left: 1.5em;
      border: 2px solid lightgray;
      border-radius: 6px;
      padding: 0 4px;
      background: #fafafa;
    }
  }

  p {
    padding: 5px 15px;
  }
}

