//
// Design system display name: Material 3
// Design system version: v0.161
//

@function md-sys-typescale-values($typography) {
  @return (
    body-large: null,
    body-large-font: null,
    body-large-line-height: null,
    body-large-size: null,
    body-large-tracking: null,
    body-large-weight: null,
    body-medium: null,
    body-medium-font: null,
    body-medium-line-height: null,
    body-medium-size: null,
    body-medium-tracking: null,
    body-medium-weight: null,
    body-small: null,
    body-small-font: null,
    body-small-line-height: null,
    body-small-size: null,
    body-small-tracking: null,
    body-small-weight: null,
    display-large: null,
    display-large-font: null,
    display-large-line-height: null,
    display-large-size: null,
    display-large-tracking: null,
    display-large-weight: null,
    display-medium: null,
    display-medium-font: null,
    display-medium-line-height: null,
    display-medium-size: null,
    display-medium-tracking: null,
    display-medium-weight: null,
    display-small: null,
    display-small-font: null,
    display-small-line-height: null,
    display-small-size: null,
    display-small-tracking: null,
    display-small-weight: null,
    headline-large: null,
    headline-large-font: null,
    headline-large-line-height: null,
    headline-large-size: null,
    headline-large-tracking: null,
    headline-large-weight: null,
    headline-medium: null,
    headline-medium-font: null,
    headline-medium-line-height: null,
    headline-medium-size: null,
    headline-medium-tracking: null,
    headline-medium-weight: null,
    headline-small: null,
    headline-small-font: null,
    headline-small-line-height: null,
    headline-small-size: null,
    headline-small-tracking: null,
    headline-small-weight: null,
    label-large: null,
    label-large-font: null,
    label-large-line-height: null,
    label-large-size: null,
    label-large-tracking: null,
    label-large-weight: null,
    label-large-weight-prominent: null,
    label-medium: null,
    label-medium-font: null,
    label-medium-line-height: null,
    label-medium-size: null,
    label-medium-tracking: null,
    label-medium-weight: null,
    label-medium-weight-prominent: null,
    label-small: null,
    label-small-font: null,
    label-small-line-height: null,
    label-small-size: null,
    label-small-tracking: null,
    label-small-weight: null,
    title-large: null,
    title-large-font: null,
    title-large-line-height: null,
    title-large-size: null,
    title-large-tracking: null,
    title-large-weight: null,
    title-medium: null,
    title-medium-font: null,
    title-medium-line-height: null,
    title-medium-size: null,
    title-medium-tracking: null,
    title-medium-weight: null,
    title-small: null,
    title-small-font: null,
    title-small-line-height: null,
    title-small-size: null,
    title-small-tracking: null,
    title-small-weight: null,
  );
}
