@use 'sass:map';

@function md-sys-typescale-values($config) {
  $sys-to-config: (
    body-large: body-1,
    body-medium: body-2,
    body-small: caption,
    label-large: subtitle-1,
    label-medium: subtitle-2,
    label-small: button,
    display-large: headline-1,
    display-medium: headline-1,
    display-small: headline-1,
    headline-large: headline-2,
    headline-medium: headline-3,
    headline-small: headline-4,
    title-large: headline-5,
    title-medium: headline-5,
    title-small: headline-6,
  );

  $typography: ();
  @each $sys-key, $config-key in $sys-to-config {
    $font: map.get($config, $config-key, font-family);
    $line-height: map.get($config, $config-key, line-height);
    $size: map.get($config, $config-key, font-size);
    $tracking: map.get($config, $config-key, letter-spacing);
    $weight: map.get($config, $config-key, font-weight);
    $typography: map.merge($typography, (
      #{$sys-key}: $weight $size #{'/'} $line-height $font,
      #{$sys-key}-font: $font,
      #{$sys-key}-line-height: $line-height,
      #{$sys-key}-size: $size,
      #{$sys-key}-tracking: $tracking,
      #{$sys-key}-weight: $weight,
    ));
  }

  @return $typography;
}
