app-component-viewer {
  font-weight: 400;
}

.docs-component-viewer-header {
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}

.docs-component-viewer-tabbed-content {
  margin: 50px 70px;

  md-tab {
    margin: 30px;
  }
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content {

  h1 {
    display:inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
  }

  h3, h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 80px;
  }

  h4 {
    margin-top: 40px;
  }

  h5 {
    font-size: 16px;
  }

  .md-tab-body-wrapper h2 {
    margin-top: 0px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  a {
    text-decoration: none;
  }

  table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px 0;
    width: 100%;
  }

  table tbody th {
    max-width: 100px;
    padding: 13px 32px;
    text-align: left;
  }

  td {
    font-weight: 400;
    padding: 8px 30px;

    p {
      margin: 0;
    }
  }

  th {
    font-size: 16px;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
  }
}

.md-tab-header {
  border: none;
  margin-bottom: 30px;
}

.docs-component-viewer-tabbed-content .md-tab-header .md-tab-label {
  font-weight: 400;
  margin: 0 10px;
  min-width: 0px;
  padding: 0 5px;
}
