app-component-viewer {
  font-weight: 400;
}

.docs-component-viewer-tabbed-content {
  margin: 50px 70px;

  md-tab {
    margin: 30px;
  }
}

.docs-example-source {
  padding: 0 0 10px 30px;
  min-height: 150px;
}

.md-tab-header {
  border: none;
  margin-bottom: 30px;
}

.docs-component-viewer-tabbed-content .md-tab-header .md-tab-label {
  font-weight: 400;
  margin: 0 10px;
  min-width: 0px;
  padding: 0 5px;
}
