@import '../../../styles/constants';

app-component-viewer {
  font-weight: 400;
  margin: 20px 70px 50px 70px;
}

.docs-component-viewer-section-tab {
  text-transform: uppercase;
}

.docs-component-viewer-tabbed-content {
  margin-bottom: 50px;
}

.docs-component-viewer-content {
  min-height: 500px;
}

.docs-example-source {
  padding: 0 0 10px 30px;
  min-height: 150px;
}
