.docs-api-class-name {
  margin-top: 24px;
  margin-bottom: 0;
  display: inline-block;
}

.docs-api-h3 {
  margin-bottom: 0;
}

.docs-api-class-export-label,
.docs-api-directive-selectors,
.docs-api-class-description {
  font-size: 14px;
}

.docs-api-class-deprecated-marker {
  font-weight: bold;
}
