button {
  width: 150px;
  height: 60px;
}

#scene-ripples-button {
  overflow: hidden;
}

.mat-button-wrapper {
  font-size: 18px;
}

.scene-ripples-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
