.mat-sitemap {
  background-color: #37424a;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-stretch: normal;
  color: #f4f4f4;
  padding: 24px;
  width: 100%;

  @media (min-width: 400px) {
    .mat-sitemap-menuItems-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  @media (max-width: 375px) {
    .mat-sitemap-menuItems-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  span {
    font-size: 24px;
  }

  .mat-sitemap-menu-item:not(:last-child) {
    width: 306px;
    padding-bottom: 30px;
  }

  .mat-sitemap-section {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .mat-sitemap-level1 {
    margin-top: 20px;
    padding-left: 10px;
  }
  .mat-sitemap-level2 {
    margin-top: 10px;
    padding-left: 20px;
  }
  .mat-sitemap-level3 {
    margin-top: 10px;
    padding-left: 30px;
  }
}
