###############################
# Filesystem interactions     #
###############################

# Disable watchfs as it causes tests to be flaky on Windows
# https://github.com/angular/angular/issues/29541
build --nowatchfs

# Turn off legacy external runfiles
build --nolegacy_external_runfiles

# Turn on --incompatible_strict_action_env which was on by default
# in Bazel 0.21.0 but turned off again in 0.22.0. Follow
# https://github.com/bazelbuild/bazel/issues/7026 for more details.
# This flag is needed to so that the bazel cache is not invalidated
# when running bazel via `yarn bazel`.
# See https://github.com/angular/angular/issues/27514.
build --incompatible_strict_action_env

# Enable remote caching of build/action tree
build --experimental_remote_merkle_tree_cache

# Ensure that tags applied in BUILDs propagate to actions
common --experimental_allow_tags_propagation

# Don't check if output files have been modified
build --noexperimental_check_output_files

# Ensure sandboxing is enabled even for exclusive tests
test --incompatible_exclusive_test_sandboxed

# Fixes use of npm paths with spaces such as some within the puppeteer module
build --experimental_inprocess_symlink_creation

####################################################
# User bazel configuration
# NOTE: This needs to be the *last* entry in the config.
####################################################

# Load any settings which are specific to the current user. Needs to be *last* statement
# in this config, as the user configuration should be able to overwrite flags from this file.
try-import .bazelrc.user

# Enable runfiles even on Windows.
# Architect resolves output files from data files, and this isn't possible without runfile support.
build --enable_runfiles
