@use 'sass:map';
@use '@angular/material' as mat;
@use '../../app-theme';

// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes(map.merge($theme, (
  typography: mat.define-typography-config()
)));
@include app-theme.theme($theme);
