@use '@angular/material' as mat;
@use '../../app-theme';

// Define the light theme.
$_primary: mat.define-palette(mat.$indigo-palette);
$_accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$_theme: mat.define-light-theme($_primary, $_accent);

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);
