@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../../app-theme';
@use '../../highlightjs/material-dark';

$theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-magenta-palette,
    tertiary: matx.$m3-violet-palette,
  )
));

@include matx.color-variants-back-compat($theme);
@include app-theme.theme($theme);

:root {
  @include mat.all-component-themes($theme);
}
