@import '../../app-theme';
@import '../../highlightjs/material-dark';

// Define the dark theme.
$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-blue-grey);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
