.scene-slide-toggle {
  margin: 15px;
  width: 250px;
  display: flex;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
mat-slide-toggle {
  margin-left: auto;
}

mat-icon {
  vertical-align: middle;
  padding-right: 5px;
}
