@use 'sass:map';
@use './theming/inspection';
@use './style/elevation';

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return ();
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($theme) {
  $tokens: (
    app-background-color: inspection.get-theme-color($theme, background, background),
    app-text-color: inspection.get-theme-color($theme, system, on-surface),
  );

  @for $zValue from 0 through 24 {
    $elevation-color: inspection.get-theme-color($theme, foreground, elevation);
    $shadow: elevation.get-box-shadow($zValue,
      if($elevation-color == null, elevation.$color, $elevation-color));
    $tokens: map.set($tokens, 'app-elevation-shadow-level-#{$zValue}', $shadow);
  }

  @return $tokens;
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($theme) {
  @return ();
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  @return ();
}
