@use 'sass:map';
@use './style/elevation';
@use '../core/tokens/m2-utils';

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return ();
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($theme) {
  $system: m2-utils.get-system($theme);

  $tokens: (
    app-background-color: map.get($system, background),
    app-text-color: map.get($system, on-surface),
  );

  @for $zValue from 0 through 24 {
    $shadow: elevation.get-box-shadow($zValue, map.get($system, shadow));
    $tokens: map.set($tokens, 'app-elevation-shadow-level-#{$zValue}', $shadow);
  }

  @return $tokens;
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($theme) {
  @return ();
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  @return ();
}
