<div class="docs-component-list-category">
  <a *ngFor="let component of category?.items"
    class="docs-component-list-item"
    [routerLink]="'/' + section + '/' + component.id">
    <mat-card>
      <mat-card-header class="docs-component-list-card-header">
        <mat-card-title class="docs-component-list-card-title">{{component.name}}</mat-card-title>
        <div class="docs-component-list-icon-spacer"></div>
        <div class="docs-component-list-item-icon">
          <docs-svg-viewer [attr.aria-label]="component.name" [scaleToContainer]="true"
            [src]="'../../../assets/img/components/' + component.id + '.svg'"></docs-svg-viewer>
        </div>
      </mat-card-header>
      <mat-card-content class="docs-component-list-card-summary" *ngIf="component.summary">
        {{component.summary}}
      </mat-card-content>
    </mat-card>
  </a>
</div>
