.demo-select {
  display: flex;
  flex-flow: row wrap;

  .mat-card {
    width: 450px;
    margin: 24px;
  }

  .demo-drink-icon {
    vertical-align: bottom;
    padding-right: 0.25em;
  }
}

.demo-drink-header {
  /*color: #3f51b5;*/
}

.mat-select-header.demo-select-header-auto {
  height: auto;
}