<div style="height: 1000px">This div is for testing scrolled selects.</div>
<button md-button (click)="showSelect=!showSelect">SHOW SELECT</button>
<div class="demo-select">
  <div *ngIf="showSelect">
    <md-card>
      <md-select placeholder="Food i would like to eat" [formControl]="foodControl">
        <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }} </md-option>
      </md-select>
      <p> Value: {{ foodControl.value }} </p>
      <p> Touched: {{ foodControl.touched }} </p>
      <p> Dirty: {{ foodControl.dirty }} </p>
      <p> Status: {{ foodControl.status }} </p>
      <button md-button (click)="foodControl.setValue('pizza-1')">SET VALUE</button>
      <button md-button (click)="toggleDisabled()">TOGGLE DISABLED</button>
      <button md-button (click)="foodControl.reset()">RESET</button>
    </md-card>
  </div>

  <md-card>
    <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="isRequired" [disabled]="isDisabled"
      #drinkControl="ngModel">
      <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
        {{ drink.viewValue }}
      </md-option>
    </md-select>
    <p> Value: {{ currentDrink }} </p>
    <p> Touched: {{ drinkControl.touched }} </p>
    <p> Dirty: {{ drinkControl.dirty }} </p>
    <p> Status: {{ drinkControl.control?.status }} </p>
    <button md-button (click)="currentDrink='sprite-1'">SET VALUE</button>
    <button md-button (click)="isRequired=!isRequired">TOGGLE REQUIRED</button>
    <button md-button (click)="isDisabled=!isDisabled">TOGGLE DISABLED</button>
    <button md-button (click)="drinkControl.reset()">RESET</button>
  </md-card>

  <div>
    <md-card>
      <md-card-subtitle>Filter selection</md-card-subtitle>

      <md-card-content>
        <md-select placeholder="Bond movies" [search]="true" [required]="movieRequired" [disabled]="moviesDisabled" [(ngModel)]="currentMovie" #movieControl="ngModel">
          <md-option *ngFor="let movie of movies" [value]="movie.value">{{ movie.viewValue }}</md-option>
        </md-select>
        <p> Value: {{ currentMovie }} </p>
        <p> Touched: {{ movieControl.touched }} </p>
        <p> Dirty: {{ movieControl.dirty }} </p>
        <p> Status: {{ movieControl.control?.status }} </p>
        <button md-button (click)="currentMovie='moonraker-0'">SET VALUE</button>
        <button md-button (click)="movieRequired=!movieRequired">TOGGLE REQUIRED</button>
        <button md-button (click)="moviesDisabled=!moviesDisabled">TOGGLE DISABLED</button>
        <button md-button (click)="movieControl.reset()">RESET</button>
      </md-card-content>
    </md-card>
  </div>

  <div *ngIf="showSelect">
    <md-card>
      <md-select placeholder="Starter Pokemon" (change)="latestChangeEvent = $event">
        <md-option *ngFor="let starter of pokemon" [value]="starter.value"> {{ starter.viewValue }} </md-option>
      </md-select>

      <p> Change event value: {{ latestChangeEvent?.value }} </p>
    </md-card>
  </div>

</div>
<div style="height: 500px">This div is for testing scrolled selects.</div>
