:host {
  display: block;
}

.tabs_blue {
  position: absolute;
  border: thin solid blue;
  left: 10px;
  right: 51%;
}

.tabs_red {
  position: absolute;
  border: thin solid red;
  left: 51%;
  right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
