<div cdkDropListGroup>
  <div class="tabs_blue">
    <div cdkDropList cdkDropListOrientation="horizontal">
      <button
        mat-stroked-button
        cdkDrag
        *ngFor="let link of links[0]"
        (click)="activeBlue = link"
      >
        {{link}}
      </button>
    </div>
  </div>
  <div class="tabs_red column">
    <div cdkDropList cdkDropListOrientation="horizontal">
      <button
        mat-stroked-button
        cdkDrag
        *ngFor="let link of links[1]"
        (click)="activeRed = link"
      >
        {{link}}
      </button>
    </div>
  </div>
</div>
