.example-menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

.example-menu-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  height: 36px;
}
