@import 'variables';
@import 'default-theme';
@import './tabs-common';

:host {
  display: flex;
  flex-direction: column;
  font-family: $md-font-family;
}

/** The top section of the view; contains the tab labels */
.md-tab-header {
  @include tab-header;
  border-bottom: 1px solid md-color($md-background, status-bar);
}

/** Wraps each tab label */
.md-tab-label {
  @include tab-label;
}

.md-tab-disabled {
  cursor: default;
  pointer-events: none;
}

/** The bottom section of the view; contains the tab bodies */
.md-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
}

/** Wraps each tab body */
.md-tab-body {
  display: none;
  overflow: auto;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  &.md-tab-active {
    display: block;
  }
}
