<button (click)="previous()" *ngIf="this.showPrevArrow" aria-hidden="true" tabindex="-1"
        class="docs-carousel-nav docs-carousel-nav-prev" mat-mini-fab aria-label="previous">
  <mat-icon>navigate_before</mat-icon>
</button>

<div #contentWrapper (keyup)="onKeydown($event)"
     class="docs-carousel-content-wrapper" role="region">
  <div class="docs-carousel-content" role="list" tabindex="0" #list>
    <ng-content></ng-content>
  </div>
</div>

<button (click)="next()" *ngIf="this.showNextArrow" aria-hidden="true" tabindex="-1"
        class="docs-carousel-nav docs-carousel-nav-next" mat-mini-fab aria-label="next">
  <mat-icon>navigate_next</mat-icon>
</button>
