<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title">
    <div class="docs-example-viewer-title-spacer">{{exampleData?.title}}</div>

    <button mat-icon-button type="button" (click)="toggleSourceView()"
            [matTooltip]="'View ' + exampleData?.title + ' source'" aria-label="View source">
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
        </svg>
      </mat-icon>
    </button>

    <stack-blitz-button [example]="example"></stack-blitz-button>
  </div>

  <div class="docs-example-viewer-source" *ngIf="showSource">
    <mat-tab-group>
      <mat-tab *ngFor="let tabName of _getExampleTabNames()" [label]="tabName">
        <div class="docs-example-source-wrapper">
          <button mat-icon-button type="button" class="docs-example-source-copy"
                  title="Copy example source" aria-label="Copy example source to clipboard"
                  (click)="copySource(viewer.textContent)">
            <mat-icon>content_copy</mat-icon>
          </button>
          <pre class="docs-example-source"><doc-viewer
              #viewer [documentUrl]="exampleTabs[tabName]"></doc-viewer></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="docs-example-viewer-body">
    <ng-template *ngIf="_exampleComponentType && _exampleModuleFactory"
                 [ngComponentOutlet]="_exampleComponentType"
                 [ngComponentOutletNgModuleFactory]="_exampleModuleFactory"></ng-template>
  </div>
</div>
