<div class="docs-example-viewer-title">
  <span>{{example}}</span>

  <div class="docs-example-viewer-title-spacer"></div>

  <button md-icon-button type="button" (click)="toggleSourceView()">S</button>
  <button md-icon-button type="button">P</button>
</div>

<div class="docs-example-viewer-source" *ngIf="showSource">
  <md-tab-group>
    <!-- TODO(jelbourn): don't hard-code the html + ts + css structure -->
    <md-tab *ngFor="let extension of ['HTML', 'TS', 'SCSS']" [label]="extension">
      <pre><doc-viewer [documentUrl]="exampleFileUrl(extension)"></doc-viewer></pre>
    </md-tab>
  </md-tab-group>
</div>

<div class="docs-example-viewer-body">
  <template [portalHost]="selectedPortal"></template>
</div>
