<form [formGroup]="animalForm" novalidate>
      <mat-form-field>
        <input type="text" matInput placeholder="Species Group" formControlName="speciesGroup" required [matAutocomplete]="autoGroup"/>
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of speciesGroupeOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.name"  [value]="name">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field> 
    </div>  
  </form>  