.demo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.demo-box {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  text-align: center;
}

.demo-typography > div {
  margin-bottom: 16px;
}

.demo-section-container {
  padding: 16px;
}

h3 {
  padding-left: 16px;
}
