@use '@material/button/button' as mdc-button;
@use '@material/button/button-theme' as mdc-button-theme;
@use '@material/button/button-text-theme' as mdc-button-text-theme;
@use '@material/button/button-filled-theme' as mdc-button-filled-theme;
@use '@material/button/button-protected-theme' as mdc-button-protected-theme;
@use '@material/button/button-outlined-theme' as mdc-button-outlined-theme;
@use '@material/theme/theme-color' as mdc-theme-color;
@use '@material/elevation/elevation-theme' as mdc-elevation-theme;

@use './button-theme-private';
@use '../core/mdc-helpers/mdc-helpers';
@use '../core/theming/theming';
@use '../core/theming/inspection';
@use '../core/typography/typography';
@use '../core/tokens/m2/mdc/filled-button' as tokens-mdc-filled-button;
@use '../core/tokens/m2/mdc/protected-button' as tokens-mdc-protected-button;
@use '../core/tokens/m2/mdc/text-button' as tokens-mdc-text-button;

@function _on-color($theme, $palette) {
  $is-dark: inspection.get-theme-type($theme) == dark;
  @return if(mdc-helpers.variable-safe-contrast-tone($palette, $is-dark) == 'dark', #000, #fff);
}

@mixin _outlined-button-variant($color) {
  @include mdc-button-outlined-theme.theme((
    label-text-color: $color,
  ));
}

@mixin base($theme) {
  // TODO(mmalerba): Move button base tokens here
}

@mixin color($theme) {
  @include mdc-helpers.using-mdc-theme($theme) {
    $is-dark: inspection.get-theme-type($theme) == dark;
    $on-surface: mdc-theme-color.prop-value(on-surface);
    $disabled-ink-color: rgba($on-surface, if($is-dark, 0.5, 0.38));
    $primary: mdc-theme-color.prop-value(primary);
    $secondary: mdc-theme-color.prop-value(secondary);
    $error: mdc-theme-color.prop-value(error);

    .mat-mdc-outlined-button {
      @include mdc-button-outlined-theme.theme((
        outline-color: rgba(mdc-theme-color.prop-value(on-surface), 0.12)
      ));

      &.mat-unthemed {
        @include _outlined-button-variant($on-surface);
      }

      &.mat-primary {
        @include _outlined-button-variant($primary);
      }

      &.mat-accent {
        @include _outlined-button-variant($secondary);
      }

      &.mat-warn {
        @include _outlined-button-variant($error);
      }

      @include button-theme-private.apply-disabled-style() {
        @include mdc-button-outlined-theme.theme((
          // We need to pass both the disabled and enabled values, because the enabled
          // ones apply to anchors while the disabled ones are for buttons.
          label-text-color: $disabled-ink-color,
          disabled-label-text-color: $disabled-ink-color,
          outline-color: rgba($on-surface, 0.12),
          disabled-outline-color: rgba($on-surface, 0.12),
        ));
      }
    }

    // Ripple colors
    .mat-mdc-button, .mat-mdc-outlined-button {
      @include button-theme-private.ripple-theme-styles($theme, false);
    }

    .mat-mdc-raised-button, .mat-mdc-unelevated-button {
      @include button-theme-private.ripple-theme-styles($theme, true);
    }
  }

  $surface: inspection.get-theme-color($theme, background, card);
  $primary: inspection.get-theme-color($theme, primary);
  $accent: inspection.get-theme-color($theme, accent);
  $error: inspection.get-theme-color($theme, warn);

  $on-surface: _on-color($theme, $surface);
  $on-primary: _on-color($theme, $primary);
  $on-accent: _on-color($theme, $accent);
  $on-error: _on-color($theme, $error);

  .mat-mdc-button {
    @include mdc-button-text-theme.theme(tokens-mdc-text-button.get-color-tokens($theme));

    &.mat-primary {
      @include mdc-button-text-theme.theme(
        tokens-mdc-text-button.private-get-color-palette-color-tokens($theme, primary));
    }

    &.mat-accent {
      @include mdc-button-text-theme.theme(
        tokens-mdc-text-button.private-get-color-palette-color-tokens($theme, accent));
    }

    &.mat-warn {
      @include mdc-button-text-theme.theme(
        tokens-mdc-text-button.private-get-color-palette-color-tokens($theme, warn));
    }
  }

  .mat-mdc-unelevated-button {
    $default-color-tokens: tokens-mdc-filled-button.get-color-tokens($theme, $surface, $on-surface);
    $primary-color-tokens: tokens-mdc-filled-button.get-color-tokens($theme, $primary, $on-primary);
    $accent-color-tokens: tokens-mdc-filled-button.get-color-tokens($theme, $accent, $on-accent);
    $warn-color-tokens: tokens-mdc-filled-button.get-color-tokens($theme, $error, $on-error);

    &.mat-unthemed {
      @include mdc-button-filled-theme.theme($default-color-tokens);
    }

    &.mat-primary {
      @include mdc-button-filled-theme.theme($primary-color-tokens);
    }

    &.mat-accent {
      @include mdc-button-filled-theme.theme($accent-color-tokens);
    }

    &.mat-warn {
      @include mdc-button-filled-theme.theme($warn-color-tokens);
    }
  }

  .mat-mdc-raised-button {
    $default-color-tokens: tokens-mdc-protected-button.get-color-tokens(
      $theme,
      $surface,
      $on-surface
    );
    $primary-color-tokens: tokens-mdc-protected-button.get-color-tokens(
      $theme,
      $primary,
      $on-primary
    );
    $accent-color-tokens: tokens-mdc-protected-button.get-color-tokens($theme, $accent, $on-accent);
    $warn-color-tokens: tokens-mdc-protected-button.get-color-tokens($theme, $error, $on-error);

    &.mat-unthemed {
      @include mdc-button-protected-theme.theme($default-color-tokens);
    }

    &.mat-primary {
      @include mdc-button-protected-theme.theme($primary-color-tokens);
    }

    &.mat-accent {
      @include mdc-button-protected-theme.theme($accent-color-tokens);
    }

    &.mat-warn {
      @include mdc-button-protected-theme.theme($warn-color-tokens);
    }

    // TODO(wagnermaciel): Remove this workaround when b/301126527 is resolved
    @include mdc-helpers.disable-mdc-fallback-declarations {
      @include mdc-elevation-theme.elevation(2);

      &:hover, &:focus {
        @include mdc-elevation-theme.elevation(4);
      }

      &:active, &:focus:active {
        @include mdc-elevation-theme.elevation(8);
      }
    }
  }

  $is-dark: inspection.get-theme-type($theme) == dark;
  $disabled-ink-color: rgba($on-surface, if($is-dark, 0.5, 0.38));
  $disabled-container-color: rgba($on-surface, 0.12);

  // TODO: these disabled styles are a bit too specific currently.
  // Once the buttons are fully tokenized, we should rework how they're applied.
  .mat-mdc-button {
    @include button-theme-private.apply-disabled-style() {
      @include mdc-button-text-theme.theme((
        disabled-label-text-color: $disabled-ink-color,
        label-text-color: $disabled-ink-color,
      ));
    }
  }

  .mat-mdc-raised-button {
    @include button-theme-private.apply-disabled-style() {
      @include mdc-elevation-theme.elevation(0);
      @include mdc-button-protected-theme.theme((
        disabled-container-color: $disabled-container-color,
        disabled-label-text-color: $disabled-ink-color,
        container-color: $disabled-container-color,
        label-text-color: $disabled-ink-color,
      ));
    }
  }

  .mat-mdc-unelevated-button {
    @include button-theme-private.apply-disabled-style() {
      @include mdc-button-filled-theme.theme((
        disabled-container-color: $disabled-container-color,
        disabled-label-text-color: $disabled-ink-color,
        container-color: $disabled-container-color,
        label-text-color: $disabled-ink-color,
      ));
    }
  }
}

@mixin typography($theme) {
  @include mdc-helpers.using-mdc-typography($theme) {
    @include mdc-button.without-ripple($query: mdc-helpers.$mdc-typography-styles-query);
  }
}

@mixin density($theme) {
  $density-scale: theming.clamp-density(inspection.get-theme-density($theme), -3);

  .mat-mdc-button {
    $density-tokens: tokens-mdc-text-button.get-density-tokens($theme);
    @include mdc-button-text-theme.theme($density-tokens);
    @include button-theme-private.touch-target-density($density-scale);
  }

  .mat-mdc-raised-button {
    $density-tokens: tokens-mdc-protected-button.get-density-tokens($theme);
    @include mdc-button-protected-theme.theme($density-tokens);
    @include button-theme-private.touch-target-density($density-scale);
  }

  .mat-mdc-unelevated-button {
    $density-tokens: tokens-mdc-filled-button.get-density-tokens($theme);
    @include mdc-button-filled-theme.theme($density-tokens);
    @include button-theme-private.touch-target-density($density-scale);
  }

  .mat-mdc-outlined-button {
    // Use `mat-mdc-button-base` to increase the specificity over the button's structural styles.
    &.mat-mdc-button-base {
      @include mdc-button-theme.density($density-scale, $query: mdc-helpers.$mdc-base-styles-query);
      @include button-theme-private.touch-target-density($density-scale);
    }
  }
}

@mixin theme($theme) {
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-button') {
    @include base($theme);
    @if inspection.theme-has($theme, color) {
      @include color($theme);
    }
    @if inspection.theme-has($theme, density) {
      @include density($theme);
    }
    @if inspection.theme-has($theme, typography) {
      @include typography($theme);
    }
  }
}
