@use 'sass:map';
@use 'sass:list';
@use '../core/tokens/m3-utils';
@use '../core/style/elevation';
@use '../core/theming/theming';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, fab);

/// Generates custom tokens for the mat-fab.
@function get-tokens($theme, $color-variant: null) {
  $system: m3-utils.get-system($theme);
  @if $color-variant {
    $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);
  }

  $tokens: (
    base: (
      container-shape: map.get($system, corner-large),
      extended-container-height: 56px,
      extended-container-shape: map.get($system, corner-large),
      small-container-shape: map.get($system, corner-medium),
    ),
    color: (
      container-color: map.get($system, primary-container),
      container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      disabled-state-container-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 12%),
      disabled-state-foreground-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      extended-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      extended-focus-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      extended-hover-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level4)),
      extended-pressed-container-elevation-shadow: map.get($system, level3),
      focus-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      focus-state-layer-opacity: map.get($system, focus-state-layer-opacity),
      foreground-color: map.get($system, on-primary-container),
      hover-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level4)),
      hover-state-layer-opacity: map.get($system, hover-state-layer-opacity),
      pressed-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      pressed-state-layer-opacity: map.get($system, pressed-state-layer-opacity),
      ripple-color: m3-utils.color-with-opacity(
          map.get($system, on-primary-container), map.get($system, pressed-state-layer-opacity)),
      small-container-color: map.get($system, primary-container),
      small-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      small-disabled-state-container-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 12%),
      small-disabled-state-foreground-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      small-focus-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      small-focus-state-layer-opacity: map.get($system, focus-state-layer-opacity),
      small-foreground-color: map.get($system, on-primary-container),
      small-hover-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level4)),
      small-hover-state-layer-opacity: map.get($system, hover-state-layer-opacity),
      small-pressed-container-elevation-shadow: elevation.get-box-shadow(map.get($system, level3)),
      small-pressed-state-layer-opacity: map.get($system, pressed-state-layer-opacity),
      small-ripple-color: m3-utils.color-with-opacity(
          map.get($system, on-primary-container), map.get($system, pressed-state-layer-opacity)),
      small-state-layer-color: map.get($system, on-primary-container),
      state-layer-color: map.get($system, on-primary-container),
    ),
    typography: (
      extended-label-text-font: map.get($system, label-large-font),
      extended-label-text-size: map.get($system, label-large-size),
      extended-label-text-tracking: map.get($system, label-large-tracking),
      extended-label-text-weight: map.get($system, label-large-weight),
    ),
  );

  @return $tokens;
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -3);
  $index: ($scale * -1) + 1;

  @return (
    touch-target-display: list.nth((block, block, none, none), $index),
  );
}
