:host {
  font-size: 13px;
  width: 15%;
  position: sticky;
  top: 0;
}

.docs-toc-container {
  padding: 5px 0 10px 12px;
}

.docs-toc-heading {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

a {
  line-height: 16px;
  margin: 8px 0 0;
  position: relative;
  text-decoration: none;
  display: block;
}

.docs-level-h4 {
  margin-left: 12px;
}
