@use '../../../index' as mat;

$theme: mat.define-theme();

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ),
    (),
    mat.$default-cascade-layer-name
  );
}
