@import '../mdc-theming/all-theme';

@mixin angular-material-typography-mdc($config: null) {
  @if $config == null {
    $config: mat-typography-config();
  }

  @include angular-material-theme-mdc((
    color: null,
    density: null,
    typography: $config,
  ));
}
