@import '@material/button/mixins';
@import '../mdc-helpers/mdc-helpers';

$_mat-button-ripple-opacity: 0.1;

@mixin mat-button-theme-mdc($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  @include mat-using-mdc-theme($theme) {
    @include mdc-button-without-ripple($query: $mat-theme-styles-query);
  }

  .mat-mdc-button {
    // The ripple element is created from the RippleRenderer rather than the MDC ripple, so it is
    // necessary to provide the color and opacity styling manually.
    .mat-ripple-element {
      opacity: $_mat-button-ripple-opacity;
      background-color: currentColor;
    }
  }
}

@mixin mat-button-typography-mdc($config) {
  @if config {
    @include mat-using-mdc-typography($config) {
      @include mdc-button-without-ripple($query: $mat-typography-styles-query);
    }
  }
  @else {
    @include mdc-button-without-ripple($query: $mat-typography-styles-query);
  }
}

@mixin mat-fab-theme-mdc($theme) {
  @include mat-using-mdc-theme($theme) {
    @include mdc-fab-without-ripple($query: $mat-theme-styles-query);
  }

  .mat-mdc-button {
    // The ripple element is created from the RippleRenderer rather than the MDC ripple, so it is
    // necessary to provide the color and opacity styling manually.
    .mat-ripple-element {
      opacity: $_mat-button-ripple-opacity;
      background-color: currentColor;
    }
  }
}

@mixin mat-fab-typography-mdc($config) {
  @if config {
    @include mat-using-mdc-typography($config) {
      @include mdc-fab-without-ripple($query: $mat-typography-styles-query);
    }
  }
  @else {
    @include mdc-fab-without-ripple($query: $mat-typography-styles-query);
  }
}

@mixin mat-icon-button-theme-mdc($theme) {
  @include mat-using-mdc-theme($theme) {
    @include mdc-icon-button-without-ripple($query: $mat-theme-styles-query);
  }

  .mat-mdc-button {
    // The ripple element is created from the RippleRenderer rather than the MDC ripple, so it is
    // necessary to provide the color and opacity styling manually.
    .mat-ripple-element {
      opacity: $_mat-button-ripple-opacity;
      background-color: currentColor;
    }
  }
}

@mixin mat-icon-button-typography-mdc($config) {
  @if config {
    @include mat-using-mdc-typography($config) {
      @include mdc-icon-button-without-ripple($query: $mat-typography-styles-query);
    }
  }
  @else {
    @include mdc-icon-button-without-ripple($query: $mat-typography-styles-query);
  }
}
