@import '@material/button/mixins';
@import '@material/ripple/mixins';
@import '../mdc-helpers/mdc-helpers';
@import '../../cdk/a11y/a11y';

@include mdc-button-without-ripple($query: $mat-base-styles-query);

.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-outlined-button {
  // Add an outline to make buttons more visible in high contrast mode. Stroked buttons
  // don't need a special look in high-contrast mode, because those already have an outline.
  @include cdk-high-contrast {
    &:not(.mdc-button--outlined) {
      outline: solid 1px;
    }
  }

  // ::before content is used for the interaction highlight (focus, press, active, hover)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
