.demo-slide-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  mat-slide-toggle {
    margin: 6px 0;
  }
}

.demo-full-width-container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px;
}

.demo-slide-toggle-label-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
