@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette,
  )
));

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}
