@import '~@angular/material/button/button-base';


.docs-component-list-category {
  margin: 20px;
}

.docs-component-list-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-decoration: none;
}

.docs-component-list-item-icon {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
