@import '~@angular/material/button/button-base';


.docs-component-list-category {
  margin: 20px;
}

.docs-component-list-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-decoration: none;
}

.docs-component-list-item-icon {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.docs-component-list-header {
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}
