table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 24px;
}

td, th {
  border: 1px solid #aaa;
  text-align: left;
  padding: 8px;
}

.value-cell {
  width: 130px;
}
.mat-mdc-slider {
  width: 100%;
}
.native-slider {
  margin: 0;
  padding: 16px;
  width: calc(100% - 32px);
}
.mat-mdc-tab-group {
  resize: horizontal;
  overflow: hidden;
  border: 1px solid;
  border-radius: 5px;
}