table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #aaa;
  text-align: left;
  padding: 8px;
}

.value-cell {
  width: 130px;
}
.mat-mdc-slider {
  width: 100%;
}
.native-slider {
  margin: 0;
  padding: 16px;
  width: calc(100% - 32px);
}
.resizable-container {
  resize: horizontal;
  border: 2px solid #222;
  padding: 24px 0;
  overflow: hidden;
}