@use '@material/textfield/filled-text-field-theme' as mdc-filled-text-field-theme;
@use '@material/textfield/outlined-text-field-theme' as mdc-outlined-text-field-theme;

@use '../core/tokens/m2/mdc/filled-text-field' as tokens-mdc-filled-text-field;
@use '../core/tokens/m2/mdc/outlined-text-field' as tokens-mdc-outlined-text-field;
@use '../core/tokens/m2/mat/form-field' as tokens-mat-form-field;
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/style/sass-utils';
@use '../core/tokens/token-utils';
@use './form-field-density';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);

  @include sass-utils.current-selector-or-root() {
    @include mdc-filled-text-field-theme.theme(
      tokens-mdc-filled-text-field.get-color-tokens($config));
    @include mdc-outlined-text-field-theme.theme(
      tokens-mdc-outlined-text-field.get-color-tokens($config));
    @include token-utils.create-token-values(tokens-mat-form-field.$prefix,
      tokens-mat-form-field.get-color-tokens($config));
  }

  .mat-mdc-form-field.mat-accent {
    @include mdc-filled-text-field-theme.theme(
      tokens-mdc-filled-text-field.private-get-color-palette-color-tokens($config, accent));
    @include mdc-outlined-text-field-theme.theme(
      tokens-mdc-outlined-text-field.private-get-color-palette-color-tokens($config, accent));
    @include token-utils.create-token-values(tokens-mat-form-field.$prefix,
      tokens-mat-form-field.private-get-color-palette-color-tokens($config, accent));
  }

  .mat-mdc-form-field.mat-warn {
    @include mdc-filled-text-field-theme.theme(
      tokens-mdc-filled-text-field.private-get-color-palette-color-tokens($config, warn));
    @include mdc-outlined-text-field-theme.theme(
      tokens-mdc-outlined-text-field.private-get-color-palette-color-tokens($config, warn));
    @include token-utils.create-token-values(tokens-mat-form-field.$prefix,
      tokens-mat-form-field.private-get-color-palette-color-tokens($config, warn));
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2018-config(
      theming.get-typography-config($config-or-theme));

  @include sass-utils.current-selector-or-root() {
    @include mdc-filled-text-field-theme.theme(
      tokens-mdc-filled-text-field.get-typography-tokens($config));
    @include mdc-outlined-text-field-theme.theme(
      tokens-mdc-outlined-text-field.get-typography-tokens($config));
    @include token-utils.create-token-values(tokens-mat-form-field.$prefix,
      tokens-mat-form-field.get-typography-tokens($config));
  }
}

@mixin density($config-or-theme) {
  $density-scale: theming.get-density-config($config-or-theme);
  @include form-field-density.private-form-field-density($density-scale);
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-form-field') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
