@use 'sass:map';
@use 'sass:list';
@use '../core/tokens/m3-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, form-field);

/// Generates custom tokens for the mat-form-field.
/// @param {String} $color-variant The color variant to use for the component
@function get-tokens($theme, $color-variant: null) {
  $system: m3-utils.get-system($theme);
  @if $color-variant {
    $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);
  }

  @return (
    base: (
      filled-active-indicator-height: 1px,
      filled-focus-active-indicator-height: 2px,
      filled-container-shape: map.get($system, corner-extra-small),
      outlined-outline-width: 1px,
      outlined-focus-outline-width: 2px,
      outlined-container-shape: map.get($system, corner-extra-small),
    ),
    color: (
      disabled-input-text-placeholder-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      disabled-leading-icon-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      disabled-select-arrow-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      disabled-trailing-icon-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      enabled-select-arrow-color: map.get($system, on-surface-variant),
      error-focus-trailing-icon-color: map.get($system, error),
      error-hover-trailing-icon-color: map.get($system, on-error-container),
      error-text-color: map.get($system, error),
      error-trailing-icon-color: map.get($system, error),
      filled-active-indicator-color: map.get($system, on-surface-variant),
      filled-caret-color: map.get($system, primary),
      filled-container-color: map.get($system, surface-variant),
      filled-disabled-active-indicator-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      filled-disabled-container-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 4%),
      filled-disabled-input-text-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      filled-disabled-label-text-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      filled-error-active-indicator-color: map.get($system, error),
      filled-error-focus-active-indicator-color: map.get($system, error),
      filled-error-focus-label-text-color: map.get($system, error),
      filled-error-hover-active-indicator-color: map.get($system, on-error-container),
      filled-error-hover-label-text-color: map.get($system, on-error-container),
      filled-error-label-text-color: map.get($system, error),
      filled-focus-active-indicator-color: map.get($system, primary),
      filled-focus-label-text-color: map.get($system, primary),
      filled-hover-active-indicator-color: map.get($system, on-surface),
      filled-hover-label-text-color: map.get($system, on-surface-variant),
      filled-input-text-color: map.get($system, on-surface),
      filled-input-text-placeholder-color: map.get($system, on-surface-variant),
      filled-label-text-color: map.get($system, on-surface-variant),
      filled-label-text-font: map.get($system, body-large-font),
      filled-label-text-size: map.get($system, body-large-size),
      filled-label-text-tracking: map.get($system, body-large-tracking),
      filled-label-text-weight: map.get($system, body-large-weight),
      focus-select-arrow-color: map.get($system, primary),
      focus-state-layer-opacity: 0,
      hover-state-layer-opacity: map.get($system, hover-state-layer-opacity),
      leading-icon-color: map.get($system, on-surface-variant),
      outlined-caret-color: map.get($system, primary),
      outlined-disabled-input-text-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      outlined-disabled-label-text-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
      outlined-disabled-outline-color:
          m3-utils.color-with-opacity(map.get($system, on-surface), 12%),
      outlined-error-focus-label-text-color: map.get($system, error),
      outlined-error-focus-outline-color: map.get($system, error),
      outlined-error-hover-label-text-color: map.get($system, on-error-container),
      outlined-error-hover-outline-color: map.get($system, on-error-container),
      outlined-error-label-text-color: map.get($system, error),
      outlined-error-outline-color: map.get($system, error),
      outlined-focus-label-text-color: map.get($system, primary),
      outlined-focus-outline-color: map.get($system, primary),
      outlined-hover-label-text-color: map.get($system, on-surface),
      outlined-hover-outline-color: map.get($system, on-surface),
      outlined-input-text-color: map.get($system, on-surface),
      outlined-input-text-placeholder-color: map.get($system, on-surface-variant),
      outlined-label-text-color: map.get($system, on-surface-variant),
      outlined-label-text-font: map.get($system, body-large-font),
      outlined-label-text-size: map.get($system, body-large-size),
      outlined-label-text-tracking: map.get($system, body-large-tracking),
      outlined-label-text-weight: map.get($system, body-large-weight),
      outlined-outline-color: map.get($system, outline),
      select-disabled-option-text-color:
          m3-utils.color-with-opacity(map.get($system, neutral10), 38%),
      select-option-text-color: map.get($system, neutral10),
      state-layer-color: map.get($system, on-surface),
      trailing-icon-color: map.get($system, on-surface-variant),
    ),
    typography: (
      container-text-font: map.get($system, body-large-font),
      container-text-line-height: map.get($system, body-large-line-height),
      container-text-size: map.get($system, body-large-size),
      container-text-tracking: map.get($system, body-large-tracking),
      container-text-weight: map.get($system, body-large-weight),
      subscript-text-font: map.get($system, body-small-font),
      subscript-text-line-height: map.get($system, body-small-line-height),
      subscript-text-size: map.get($system, body-small-size),
      subscript-text-tracking: map.get($system, body-small-tracking),
      subscript-text-weight: map.get($system, body-small-weight),
    ),
    density: get-density-tokens(map.get($theme, inspection.$internals, density-scale)),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -5);
  $index: ($scale * -1) + 1;

  @return (
    container-height: list.nth((56px, 52px, 48px, 44px, 40px, 36px), $index),
    filled-label-display: list.nth((block, block, none, none, none, none), $index),
    container-vertical-padding: list.nth((16px, 14px, 12px, 10px, 8px, 6px), $index),
    filled-with-label-container-padding-top: list.nth((24px, 22px, 12px, 10px, 8px, 6px), $index),
    filled-with-label-container-padding-bottom: list.nth((8px, 6px, 12px, 10px, 8px, 6px), $index),
  );
}
