@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  example-viewer {
    .docs-example-viewer-wrapper {
      border: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), 0.2);
      margin: 4px;
    }

    .docs-example-viewer-title {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .docs-example-button {
      color: mat.get-color-from-palette($foreground, secondary-text);

      [dir='rtl'] & {
        right: auto;
        left: 8px;
      }
    }

    .docs-example-source {
      overflow: auto;
    }

    code-snippet {
      background: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.01);
    }

    .docs-example-viewer-source code-snippet {
      border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
    }
  }
}

