@use '@angular/material' as mat;

@mixin theme($theme) {
  example-viewer {
    .docs-example-viewer-wrapper {
      border: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    .docs-example-viewer-title {
      color: mat.get-theme-color($theme, on-surface-variant);
    }

    .docs-example-viewer-source code-snippet {
      border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    }
  }
}

