@use '../core/tokens/m3-utils';
@use 'sass:map';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, tooltip);

/// Generates the tokens for MDC plain-tooltip
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (),
    color: (
      container-color: map.get($system, inverse-surface),
      container-shape: map.get($system, corner-extra-small),
      supporting-text-color: map.get($system, inverse-on-surface),
    ),
    typography: (
      supporting-text-font: map.get($system, body-small-font),
      supporting-text-line-height: map.get($system, body-small-line-height),
      supporting-text-size: map.get($system, body-small-size),
      supporting-text-tracking: map.get($system, body-small-tracking),
      supporting-text-weight: map.get($system, body-small-weight)
    ),
    density: (),
  );
}
