@use '../../cdk/a11y';

$horizontal-padding: 8px;
$max-width: 250px;
$margin: 14px;

$handset-horizontal-padding: 16px;
$handset-margin: 24px;

.mat-tooltip-panel {
  // The overlay reference updates the pointer-events style property directly on the HTMLElement
  // depending on the state of the overlay. For tooltips the overlay panel should never enable
  // pointer events. To overwrite the inline CSS from the overlay reference `!important` is needed.
  pointer-events: none !important;
}

.mat-tooltip {
  color: white;
  border-radius: 4px;
  margin: $margin;
  max-width: $max-width;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transform: scale(0);

  // Use a very short animation if animations are disabled so the `animationend` event still fires.
  &._mat-animation-noopable {
    animation-duration: 1ms;
  }

  @include a11y.high-contrast(active, off) {
    outline: solid 1px;
  }
}

.mat-tooltip-handset {
  margin: $handset-margin;
  padding-left: $handset-horizontal-padding;
  padding-right: $handset-horizontal-padding;
}

@keyframes mat-tooltip-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.99);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes mat-tooltip-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.mat-tooltip-show {
  animation: mat-tooltip-show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.mat-tooltip-hide {
  animation: mat-tooltip-hide 100ms cubic-bezier(0, 0, 0.2, 1) forwards;
}
