@if (shouldRun) {
  <div class="example-container" [class.example-is-mobile]="(isHandset | async)?.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="(isHandset | async) ? 56 : 0">
      <mat-sidenav #sidenav [mode]="(isHandset | async) ? 'over' : 'side'" [fixedInViewport]="(isHandset | async)?.matches" fixedTopGap="56">
        <mat-nav-list>
          @for (nav of fillerNav; track nav) {
           <a mat-list-item routerLink=".">{{ nav }}</a>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        @for (content of fillerContent; track content) {
          <p>{{ content }}</p>
        }
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
} @else {
  <div>Please open on Stackblitz to see result</div>
}
