@use 'sass:map';
@use '../core/theming/inspection';
@use '../core/theming/theming';
@use '../core/style/elevation';
@use '../core/tokens/m2-utils';
@use '../core/tokens/m3-utils';

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return (
    select-container-elevation-shadow: elevation.get-box-shadow(8),
  );
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($theme, $palette-name: primary) {
  $system: m2-utils.get-system($theme);
  $disabled: m3-utils.color-with-opacity(map.get($system, on-surface), 38%);

  @return (
    select-panel-background-color: map.get($system, surface),
    select-enabled-trigger-text-color: map.get($system, on-surface),
    select-disabled-trigger-text-color: $disabled,
    select-placeholder-text-color: map.get($system, on-surface-variant),
    select-enabled-arrow-color: map.get($system, on-surface-variant),
    select-disabled-arrow-color: $disabled,
    select-focused-arrow-color: inspection.get-theme-color($theme, $palette-name, default, 0.87),
    select-invalid-arrow-color: inspection.get-theme-color($theme, warn, default, 0.87),
  );
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($theme) {
  @return (
    select-trigger-text-font: inspection.get-theme-typography($theme, body-1, font-family),
    select-trigger-text-line-height: inspection.get-theme-typography($theme, body-1, line-height),
    select-trigger-text-size: inspection.get-theme-typography($theme, body-1, font-size),
    select-trigger-text-tracking: inspection.get-theme-typography($theme, body-1, letter-spacing),
    select-trigger-text-weight: inspection.get-theme-typography($theme, body-1, font-weight)
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  $density-scale: theming.clamp-density(inspection.get-theme-density($theme), -2);

  @return (
    select-arrow-transform: map.get((
      0: translateY(-8px),
      -1: translateY(-8px),
      -2: none,
    ), $density-scale),
  );
}
