<h2>List example</h2>
<mat-list role="list">
  <mat-list-item role="listitem">
    <mat-icon matListItemIcon>account_circle</mat-icon>
    <div matListItemTitle>Account Information</div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon matListItemIcon>settings</mat-icon>
    <div matListItemTitle>Settings</div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon matListItemIcon>logout</mat-icon>
    <div matListItemTitle>Log Out</div>
  </mat-list-item>
</mat-list>
