<section>
  <h2>Checkbox without label</h2>
  <md-checkbox aria-label="A single checkbox with no label example"></md-checkbox>
</section>
<section>
  <h2>Standalone checkbox</h2>
  <md-checkbox>A simple checkbox</md-checkbox>
  <md-checkbox [disabled]="true">Disabled checkbox</md-checkbox>
  <md-checkbox [indeterminate]="true">An indeterminate checkbox</md-checkbox>
</section>

<section>
  <h2>Pseudo checkboxe</h2>
  <p>These pseudo checkboxes are for display only</p>
  <md-pseudo-checkbox></md-pseudo-checkbox>
  <md-pseudo-checkbox [disabled]="true"></md-pseudo-checkbox>

  <md-pseudo-checkbox state="checked"></md-pseudo-checkbox>
  <md-pseudo-checkbox state="checked" [disabled]="true"></md-pseudo-checkbox>

  <md-pseudo-checkbox state="indeterminate"></md-pseudo-checkbox>
  <md-pseudo-checkbox state="indeterminate" [disabled]="true"></md-pseudo-checkbox>
</section>

<section>
  <h2>Nested checklist</h2>
    <div *ngFor="let task of tasks">
      <md-checkbox [(ngModel)]="task.completed"
                   [checked]="allComplete(task)"
                   [indeterminate]="someComplete(task.subtasks)"
                   (change)="setAllCompleted(task.subtasks, $event.checked)">
        <h3>{{task.name}}</h3>
      </md-checkbox>
      <div class="sub-list">
        <div *ngFor="let subtask of task.subtasks">
          <md-checkbox [(ngModel)]="subtask.completed">
            {{subtask.name}}
          </md-checkbox>
        </div>
      </div>
    </div>
</section>
