@use 'sass:map';
@use 'sass:list';
@use '../core/tokens/m3-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, toolbar);

/// Generates custom tokens for the mat-toolbar.
/// @param {Map} $systems The MDC system tokens
/// @param {Boolean} $exclude-hardcoded Whether to exclude hardcoded token values
/// @param {Map} $token-slots Possible token slots
/// @return {Map} A set of custom tokens for the mat-toolbar
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (),
    color: (
      container-background-color: map.get($system, surface),
      container-text-color: map.get($system, on-surface),
    ),
    typography: (
      title-text-font: map.get($system, title-large-font),
      title-text-line-height: map.get($system, title-large-line-height),
      title-text-size: map.get($system, title-large-size),
      title-text-tracking: map.get($system, title-large-tracking),
      title-text-weight: map.get($system, title-large-weight),
    ),
    density: get-density-tokens(map.get($theme, inspection.$internals, density-scale)),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -3);
  $index: ($scale * -1) + 1;

  @return (
    standard-height: list.nth((64px, 60px, 56px, 52px), $index),
    mobile-height: list.nth((56px, 52px, 48px, 44px), $index),
  );
}
