@use '@angular/cdk';
@use '../button/m2-outlined-button';
@use '../button/m2-text-button';
@use '../core/style/variables';
@use '../core/tokens/token-utils';
@use './m2-toolbar';

$row-padding: 16px !default;

$token-prefix: m2-toolbar.$prefix;
$token-slots: m2-toolbar.get-token-slots();

// @deprecated @breaking-change 8.0.0
// TODO: Remove once internal g3 apps no longer depend on this variable. Tracked with: COMP-303.
$height-mobile-portrait: 56px !default;

.mat-toolbar {
  @include token-utils.use-tokens($token-prefix, $token-slots) {
    background: token-utils.slot(container-background-color);
    color: token-utils.slot(container-text-color);

    &, h1, h2, h3, h4, h5, h6 {
      font-family: token-utils.slot(title-text-font);
      font-size: token-utils.slot(title-text-size);
      line-height: token-utils.slot(title-text-line-height);
      font-weight: token-utils.slot(title-text-weight);
      letter-spacing: token-utils.slot(title-text-tracking);
      margin: 0;
    }
  }

  @include cdk.high-contrast {
    outline: solid 1px;
  }

  // Overrides so that components projected into the toolbar are visible.
  .mat-form-field-underline,
  .mat-form-field-ripple,
  .mat-focused .mat-form-field-ripple {
    background-color: currentColor;
  }

  .mat-form-field-label,
  .mat-focused .mat-form-field-label,
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field.mat-focused .mat-select-arrow {
    color: inherit;
  }

  .mat-input-element {
    caret-color: currentColor;
  }

  .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    $color-token: null;

    @include token-utils.use-tokens(
        $token-prefix, $token-slots) {
      $color-token: token-utils.slot(container-text-color);
    }

    @include token-utils.use-tokens(
        m2-text-button.$prefix, m2-text-button.get-token-slots()) {
      $token: token-utils.get-token-variable-name(label-text-color);
      #{$token}: #{$color-token};
    }

    @include token-utils.use-tokens(
        m2-outlined-button.$prefix, m2-outlined-button.get-token-slots()) {
      $token: token-utils.get-token-variable-name(label-text-color);
      #{$token}: #{$color-token};
    }
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;

  padding: 0 $row-padding;
  width: 100%;

  // Flexbox Vertical Alignment
  flex-direction: row;
  align-items: center;

  // Per Material specs a toolbar cannot have multiple lines inside of a single row.
  // Disable text wrapping inside of the toolbar. Developers are still able to overwrite it.
  white-space: nowrap;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    height: token-utils.slot(standard-height);

    @media (variables.$xsmall) {
      height: token-utils.slot(mobile-height);
    }
  }
}

.mat-toolbar-multiple-rows {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;

  @include token-utils.use-tokens($token-prefix, $token-slots) {
    min-height: token-utils.slot(standard-height);

    // As per specs, toolbars should have a different height in mobile devices. This has been
    // specified in the old guidelines and is still observable in the new specifications by
    // looking at the spec images. See: https://material.io/design/components/app-bars-top.html#anatomy
    @media (variables.$xsmall) {
      min-height: token-utils.slot(mobile-height);
    }
  }
}
