.scene-checkboxes {
  width: 80px;
}

.scene-checkbox-all {
  margin-left: -20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-layout {
  padding: 5px 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-label {
  font-size: 20px;
}
