@import '../../../styles/constants';

$sidenav-width: 240px;

.docs-component-viewer-sidenav-container {
  box-sizing: border-box;
}

.docs-component-viewer-sidenav {
  overflow: auto;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: row;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
  }
}

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.docs-component-viewer-nav {
  position: sticky;
  top: 25px;

  .docs-component-viewer-nav-content {
    margin: 25px;
    width: $sidenav-width;
    max-height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    button {
      padding: 10px 15px;
      font-weight: 700;
      line-height: 16px;
      margin: 0;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      .mat-icon {
        position: absolute;
        right: 5px;
        font-size: 18px;
      }
    }

    hr {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: -5px 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 15px 5px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.docs-component-sidenav-content {
  display: flex;
  flex-direction: column;
}

// Add specific rule to prevent default rule conflict
.docs-component-viewer-sidenav-container.mat-drawer-container{
  display: block;
  overflow: hidden;
  position: absolute;
  // Offset the top by the toolbar height
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.docs-component-sidenav-inner-content {
  display: flex; 
  flex-direction: column;
}

.docs-component-sidenav-body-content {
  display: flex;
  // footer should always reside at the bottom of the screen.
  // if container not 100vh, push min height to that minus
  // the offset of the top bar and the footer height
  min-height: calc(100vh - 264px);
}

@media (max-width: $small-breakpoint-width) {
  // Add specific rule to prevent default rule conflict
  .docs-component-viewer-sidenav-container .docs-component-viewer-sidenav {
    // offset the top by the header + tabs on a small screen
    top: 42px;
  }

  .mat-sidenav-content {
    // offset the top by the header + tabs on a small screen
    margin-top: 42px;
  }

  .docs-component-viewer-nav {
    position: relative;
    top: 0;

    .docs-component-viewer-nav-content {
      box-sizing: border-box;
      margin: 0;
      max-height: initial;
      box-sizing: border-box;
    }
  }
}
