.demo-tooltip {
  .centered {
    text-align: center;
  }
  md-radio-button {
    display: block;
  }
}

.scrolling-container {
  margin: 300px;
  height: 300px;
  width: 300px;
  overflow: auto;

  button {
    margin: 500px;
  }
}
