@mixin cust-tooltip($position: 'top', $bg: #3F434F, $color: #FFFFFF) {
    border-radius: 3px;
    background-color: $bg;
    color: $color;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 11px;
    font-weight: 200;
    padding: 8px 16px;
    &::after {
        bottom: 100%;
        border-bottom-color: $bg !important;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(55, 207, 189, 0);
        border-width: 8px;
        margin-left: -8px;
    }
}

.cust-tooltip {
  @include cust-tooltip();
}

.demo-tooltip {
  .centered {
    text-align: center;
    height: 200px;
    overflow: auto;

    button {
      margin: 16px;
    }
  }
  .mat-radio-button {
    display: block;
  }
}

.red-tooltip {
  background-color: rgb(255, 128, 128);
  color: black;
}

.cust-tt-container {
  padding: 0 10px;
  .tt-heading {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 4px;
  }

  .tt-items {
    padding-top: 10px;
    .tt-item {
      color: #ffffff;
      font-size: 13px;
      text-align: left;
      margin-bottom: 8px;
    }
  }
}
.upvote-items {
  padding: 16px 8px;
}