<div class="example-combobox-container">
  <div #origin class="example-combobox-input-container">
    <span class="material-symbols-outlined example-icon example-search-icon">search</span>
    <input ngCombobox #combobox="ngCombobox" class="example-combobox-input" placeholder="Search states..."
      [(value)]="searchString" [(expanded)]="popupExpanded" (click)="popupExpanded.set(true)"
      (keydown.arrowdown)="navigated.set(true)" (keydown.arrowup)="navigated.set(true)"
      [inlineSuggestion]="(searchString() || navigated()) ? selectedOption()[0] : undefined" />
  </div>

  <div aria-live="polite" class="cdk-visually-hidden">
    {{options().length === 0 ? 'No results found for ' + searchString() : ''}}
  </div>

  <ng-template [cdkConnectedOverlay]="{origin, usePopover: 'inline', matchWidth: true}" [cdkConnectedOverlayOpen]="popupExpanded()"
    [cdkConnectedOverlayDisableClose]="true">
    <ng-template ngComboboxPopup [combobox]="combobox">
      <div class="example-popup">
        @if (options().length === 0) {
        <div class="example-no-results">No results found</div>
        }
        <div #listbox="ngListbox" ngListbox ngComboboxWidget class="example-listbox"
          focusMode="activedescendant" [tabindex]="-1" [(value)]="selectedOption" (click)="onCommit()"
          (keydown.enter)="onCommit()" [activeDescendant]="listbox.activeDescendant()"
          [class.example-empty]="options().length === 0">
          @for (option of options(); track option.name) {
          <div class="example-option example-selectable example-stateful" ngOption [value]="option.name"
            [label]="option.name" [disabled]="option.disabled">
            <span>{{option.name}}</span>
            <span aria-hidden="true" class="material-symbols-outlined example-icon example-selected-icon">check</span>
          </div>
          }
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>