@use 'sass:map';
@use '../../material/core/style/layout-common';
@use '../../material/core/style/focus-indicators';

@mixin strong-focus-indicators($config: ()) {
  // Default focus indicator config.
  $default-config: (
    border-color: black,
  );

  // Merge default config with user config.
  $config: map.merge($default-config, $config);

  @include focus-indicators.private-customize-focus-indicators($config, 'mat-mdc');
}
