.example-listbox-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.example-listbox {
  gap: 8px;
  margin: 0;
  padding: 8px;
  max-height: 50vh;
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
  display: flex;
  list-style: none;
  flex-direction: column;
  overflow: scroll;
}

.example-listbox[aria-orientation='horizontal'] {
  flex-direction: row;
}

.example-listbox[aria-orientation='horizontal'] .example-option::before {
  display: none;
}

.example-listbox[aria-orientation='horizontal'] .example-option[aria-selected='true']::before {
  display: block;
}

.example-label {
  padding: 16px;
  flex-shrink: 0;
}

.example-option {
  gap: 16px;
  padding: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: var(--mat-sys-corner-extra-small);
}

.example-option:hover,
.example-option[tabindex='0'] {
  outline: 1px solid var(--mat-sys-outline);
  background: var(--mat-sys-surface-container);
}

.example-option:focus-within {
  outline: 2px solid var(--mat-sys-primary);
  background: var(--mat-sys-surface-container);
}

.example-option[aria-selected='true'] {
  background-color: var(--mat-sys-secondary-container);
}
