<h1>Tab Group Demo</h1>

<mat-tab-group class="demo-tab-group">
  <mat-tab *ngFor="let tab of tabs; let i = index" [disabled]="i == 1">
    <template mat-tab-label>{{tab.label}}</template>
    <template mat-tab-content>
      {{tab.content}}
      <br>
      <br>
      <br>
      <mat-input placeholder="Tab Label" [(ngModel)]="tab.label"></mat-input>
    </template>
  </mat-tab>
</mat-tab-group>

<h1>Async Tabs</h1>

<mat-tab-group class="demo-tab-group">
  <mat-tab *ngFor="let tab of asyncTabs | async; let i = index" [disabled]="i == 1">
    <template mat-tab-label>{{tab.label}}</template>
    <template mat-tab-content>
      {{tab.content}}
      <br>
      <br>
      <br>
      <mat-input placeholder="Tab Label" [(ngModel)]="tab.label"></mat-input>
    </template>
  </mat-tab>
</mat-tab-group>
