@use 'sass:color';
@use '@material/theme/variables' as theme-variables;
@use '@material/textfield/variables' as textfield-variables;

// Mixin that refreshes the MDC text-field theming variables. This mixin should be used when
// the base MDC theming variables have been explicitly updated, but the component specific
// theming-based variables are still based on the old MDC base theming variables. The mixin
// restores the previous values for the variables to avoid unexpected global side effects.
@mixin mat-mdc-private-text-field-refresh-theme-variables() {
  $_mdc-text-field-disabled-border: textfield-variables.$disabled-border;
  textfield-variables.$disabled-border: rgba(theme-variables.prop-value(on-surface), 0.06);
  $_mdc-text-field-bottom-line-hover: textfield-variables.$bottom-line-hover;
  textfield-variables.$bottom-line-hover: rgba(theme-variables.prop-value(on-surface), 0.87);
  $_mdc-text-field-bottom-line-idle: textfield-variables.$bottom-line-idle;
  textfield-variables.$bottom-line-idle: rgba(theme-variables.prop-value(on-surface), 0.42);
  $_mdc-text-field-label: textfield-variables.$label;
  textfield-variables.$label: rgba(theme-variables.prop-value(on-surface), 0.6);
  $_mdc-text-field-ink-color: textfield-variables.$ink-color;
  textfield-variables.$ink-color: rgba(theme-variables.prop-value(on-surface), 0.87);
  $_mdc-text-field-focused-label-color: textfield-variables.$focused-label-color;
  textfield-variables.$focused-label-color: rgba(theme-variables.prop-value(primary), 0.87);
  $_mdc-text-field-placeholder-ink-color: textfield-variables.$placeholder-ink-color;
  textfield-variables.$placeholder-ink-color: rgba(theme-variables.prop-value(on-surface), 0.54);
  $_mdc-text-field-disabled-label-color: textfield-variables.$disabled-label-color;
  textfield-variables.$disabled-label-color: rgba(theme-variables.prop-value(on-surface), 0.38);
  $_mdc-text-field-disabled-ink-color: textfield-variables.$disabled-ink-color;
  textfield-variables.$disabled-ink-color: rgba(theme-variables.prop-value(on-surface), 0.38);
  $_mdc-text-field-disabled-placeholder-ink-color:
      textfield-variables.$disabled-placeholder-ink-color;
  textfield-variables.$disabled-placeholder-ink-color:
      rgba(theme-variables.prop-value(on-surface), 0.38);
  $_mdc-text-field-background: textfield-variables.$background;
  textfield-variables.$background: color.mix(
      theme-variables.prop-value(on-surface), theme-variables.prop-value(surface), 4%);
  $_mdc-text-field-disabled-background: textfield-variables.$disabled-background;
  textfield-variables.$disabled-background: color.mix(
      theme-variables.prop-value(on-surface), theme-variables.prop-value(surface), 2%);
  $_mdc-text-field-outlined-idle-border: textfield-variables.$outlined-idle-border;
  textfield-variables.$outlined-idle-border: rgba(theme-variables.prop-value(on-surface), 0.38);
  $_mdc-text-field-outlined-disabled-border: textfield-variables.$outlined-disabled-border;
  textfield-variables.$outlined-disabled-border:
      rgba(theme-variables.prop-value(on-surface), 0.06);
  $_mdc-text-field-outlined-hover-border: textfield-variables.$outlined-hover-border;
  textfield-variables.$outlined-hover-border: rgba(theme-variables.prop-value(on-surface), 0.87);

  // The content will be generated with the refreshed MDC text-field theming variables.
  @content;

  // Reset all variables to ensure that this mixin does not cause unexpected side effects.
  textfield-variables.$disabled-border: $_mdc-text-field-disabled-border;
  textfield-variables.$bottom-line-hover: $_mdc-text-field-bottom-line-hover;
  textfield-variables.$bottom-line-idle: $_mdc-text-field-bottom-line-idle;
  textfield-variables.$label: $_mdc-text-field-label;
  textfield-variables.$ink-color: $_mdc-text-field-ink-color;
  textfield-variables.$focused-label-color: $_mdc-text-field-focused-label-color;
  textfield-variables.$placeholder-ink-color: $_mdc-text-field-placeholder-ink-color;
  textfield-variables.$disabled-label-color: $_mdc-text-field-disabled-label-color;
  textfield-variables.$disabled-ink-color: $_mdc-text-field-disabled-ink-color;
  textfield-variables.$disabled-placeholder-ink-color:
      $_mdc-text-field-disabled-placeholder-ink-color;
  textfield-variables.$background: $_mdc-text-field-background;
  textfield-variables.$disabled-background: $_mdc-text-field-disabled-background;
  textfield-variables.$outlined-idle-border: $_mdc-text-field-outlined-idle-border;
  textfield-variables.$outlined-disabled-border: $_mdc-text-field-outlined-disabled-border;
  textfield-variables.$outlined-hover-border: $_mdc-text-field-outlined-hover-border;
}
