// Styles for overview and guide docs generated via `marked` from the material2 repo.

.docs-markdown {
  max-width: 100%;

  h1 {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    padding: 5px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h2, h4 {
    margin-top: 40px;
  }

  h5 {
    font-size: 18px;
  }

  p, ul, ol {
    font-size: 16px;
    line-height: 28px;
  }

  a {
    text-decoration: none;
  }

  pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    white-space: pre-wrap;

    code {
      padding: 0;
      font-size: 100%;
    }
  }

  code {
    padding: 3px;
  }

  // Target direct descendants here so that the styles don't bleed into the live examples.
  > table {
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1em;
    font-size: 14px;

    tr {
      height: 48px;
    }

    th, td {
      padding: 8px 4px 8px 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    // Code tends to wrap inside tables which doesn't look great with the background color.
    code {
      background: transparent;
    }
  }
}

.docs-header-link {
  // padding to prevent the site header from headbutting the headers when navigating using fragment links
  padding-top: 20px;
  margin-top: -20px;

  header-link a {
    text-decoration: none;
    // deduct -30px so the anchor icon will be positioned outside the content
    margin-left: -30px;
    display: inline-block;
    vertical-align: middle;
  }

  .material-icons {
    visibility: hidden;
  }

  &:hover .material-icons {
    visibility: visible;
  }
}
