.demo-dialog {
  color: rebeccapurple;
}

.demo-dialog-card {
  max-width: 350px;
  margin: 20px 0;
}

.demo-button-group {
  margin-bottom: 20px;
}

.demo-dialog-section {
  margin-bottom: 40px;

  h2 {
    font-size: 18px;
  }
}
