/// Red color palette to be used as primary, secondary, or tertiary palette.
$red-palette: (
  0: #000,
  10: #410000,
  20: #690100,
  30: #930100,
  40: #c00100,
  50: #ef0000,
  60: #ff5540,
  70: #ff8a78,
  80: #ffb4a8,
  90: #ffdad4,
  95: #ffedea,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #251917,
    20: #3b2d2b,
    30: #534341,
    40: #6c5a58,
    50: #857370,
    60: #a08c89,
    70: #bca7a3,
    80: #d8c2be,
    90: #f5ddda,
    95: #ffedea,
    99: #fffbff,
    100: #fff,
  ),
);

/// Orange color palette to be used as primary, secondary, or tertiary palette.
$orange-palette: (
  0: #000,
  10: #2a1700,
  20: #462a00,
  30: #653e00,
  40: #855400,
  50: #a66a00,
  60: #c98100,
  70: #ed9900,
  80: #ffb95c,
  90: #ffddb7,
  95: #ffeede,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #221a10,
    20: #382f24,
    30: #504539,
    40: #685c50,
    50: #827568,
    60: #9c8e80,
    70: #b8a99a,
    80: #d4c4b5,
    90: #f0e0d0,
    95: #ffeede,
    99: #fffbff,
    100: #fff,
  ),
);

/// Yellow color palette to be used as primary, secondary, or tertiary palette.
$yellow-palette: (
  0: #000,
  10: #1d1d00,
  20: #323200,
  30: #494900,
  40: #626200,
  50: #7b7b00,
  60: #969600,
  70: #b1b100,
  80: #cdcd00,
  90: #eaea00,
  95: #f9f900,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #1c1c11,
    20: #313125,
    30: #48473a,
    40: #605f51,
    50: #797869,
    60: #939182,
    70: #aeac9b,
    80: #cac7b6,
    90: #e6e3d1,
    95: #f4f1df,
    99: #fffbff,
    100: #fff,
  ),
);

/// Green color palette to be used as primary, secondary, or tertiary palette.
$green-palette: (
  0: #000,
  10: #002200,
  20: #013a00,
  30: #015300,
  40: #026e00,
  50: #038b00,
  60: #03a800,
  70: #03c700,
  80: #02e600,
  90: #77ff61,
  95: #cbffb8,
  99: #f7ffee,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #1a1c18,
    20: #2f312d,
    30: #454743,
    40: #5d5f5a,
    50: #767872,
    60: #90918c,
    70: #abaca6,
    80: #c6c7c1,
    90: #e2e3dc,
    95: #f1f1eb,
    99: #fcfdf6,
    100: #fff,
  ),
);

/// Blue color palette to be used as primary, secondary, or tertiary palette.
$blue-palette: (
  0: #000,
  10: #00006e,
  20: #0001ac,
  30: #0000ef,
  40: #343dff,
  50: #5a64ff,
  60: #7c84ff,
  70: #9da3ff,
  80: #bec2ff,
  90: #e0e0ff,
  95: #f1efff,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #1b1b23,
    20: #303038,
    30: #46464f,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    99: #fffbff,
    100: #fff,
  ),
);

/// Indigo color palette to be used as primary, secondary, or tertiary palette.
$indigo-palette: (
  0: #000,
  10: #2c0050,
  20: #4a0080,
  30: #622599,
  40: #7b41b3,
  50: #965bce,
  60: #b175ea,
  70: #cb93ff,
  80: #ddb7ff,
  90: #f0dbff,
  95: #faecff,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #1e1a22,
    20: #342f37,
    30: #4a454e,
    40: #625c65,
    50: #7c757e,
    60: #968e98,
    70: #b1a8b3,
    80: #cdc4ce,
    90: #e9dfeb,
    95: #f7eef9,
    99: #fffbff,
    100: #fff,
  ),
);

/// Violet color palette to be used as primary, secondary, or tertiary palette.
$violet-palette: (
  0: #000,
  10: #270057,
  20: #42008a,
  30: #5e00c1,
  40: #7d00fa,
  50: #934bff,
  60: #a974ff,
  70: #bf98ff,
  80: #d5baff,
  90: #ecdcff,
  95: #f7edff,
  99: #fffbff,
  100: #fff,
  neutral-variant: (
    0: #000,
    10: #1d1a22,
    20: #332f37,
    30: #49454e,
    40: #615c66,
    50: #7b757f,
    60: #958e99,
    70: #afa9b3,
    80: #cbc4cf,
    90: #e8e0eb,
    95: #f6eef9,
    99: #fffbff,
    100: #fff,
  ),
);

/// Gray palette used for backgrounds and surfaces.
$neutral-palette: (
  0: #000,
  4: #0e0e11,
  6: #141317,
  10: #1c1b1f,
  12: #201f23,
  17: #2b292d,
  20: #313033,
  22: #313033,
  24: #313033,
  30: #484649,
  40: #605d62,
  50: #787579,
  60: #939094,
  70: #aeaaae,
  80: #c9c5ca,
  87: #ddd8dd,
  90: #e6e1e5,
  92: #ece7ec,
  94: #f1ecf1,
  95: #f4eff4,
  96: #f7f2f7,
  98: #fdf8fd,
  99: #fffbfe,
  100: #fff,
);
