<div class="example-tree-controls">
  <mat-checkbox [formControl]="wrap">Wrap</mat-checkbox>
  <mat-checkbox [formControl]="multi">Multi</mat-checkbox>
  <mat-checkbox [formControl]="disabled">Disabled</mat-checkbox>
  <mat-checkbox [formControl]="skipDisabled">Skip Disabled</mat-checkbox>
  <mat-checkbox [formControl]="nav">Nav Mode</mat-checkbox>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Orientation</mat-label>
    <mat-select [(value)]="orientation">
      <mat-option value="vertical">Vertical</mat-option>
      <mat-option value="horizontal">Horizontal</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Selection Strategy</mat-label>
    <mat-select [(value)]="selectionMode">
      <mat-option value="explicit">Explicit</mat-option>
      <mat-option value="follow">Follow</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Focus Strategy</mat-label>
    <mat-select [(value)]="focusMode">
      <mat-option value="roving">Roving</mat-option>
      <mat-option value="activedescendant">Active Descendant</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="example-tree-output">
  <strong>Selected Values:</strong> {{ selectedValues().join(', ') || 'None' }}
</div>

<ul
  cdkTree
  class="example-tree"
  [orientation]="orientation"
  [multi]="multi.value"
  [disabled]="disabled.value"
  [selectionMode]="selectionMode"
  [focusMode]="focusMode"
  [wrap]="wrap.value"
  [skipDisabled]="skipDisabled.value"
  [nav]="nav.value"
  [(value)]="selectedValues"
  #tree="cdkTree"
>
  @if (nav.value) {
    @for (node of treeData; track node) {
      <ng-template [ngTemplateOutlet]="navNodeTemplate" [ngTemplateOutletContext]="{ node: node, parent: tree }" />
    }
  } @else {
    @for (node of treeData; track node) {
      <example-node [node]="node" [parent]="tree" />
    }
  }
</ul>

<ng-template #navNodeTemplate let-node="node" let-parent="parent">
  <li class="example-tree-item">
    <a
      cdkTreeItem
      class="example-tree-item-content example-selectable example-stateful"
      [value]="node.value"
      [label]="node.label || node.value"
      [disabled]="node.disabled"
      [parent]="parent"
      #treeItem="cdkTreeItem"
      href="#{{node.value}}"
      (click)="$event.preventDefault()"
    >
      <mat-icon class="example-tree-item-icon" aria-hidden="true">
        @if (treeItem.pattern.expandable()) {
          {{ treeItem.pattern.expanded() ? 'expand_less' : 'expand_more' }}
        }
      </mat-icon>
      {{ node.label }}
    </a>

    @if (node.children !== undefined && node.children!.length > 0) {
      <ul cdkTreeItemGroup [ownedBy]="treeItem" #group="cdkTreeItemGroup">
        <ng-template cdkTreeItemGroupContent>
          @for (child of node.children; track child) {
            <ng-template [ngTemplateOutlet]="navNodeTemplate" [ngTemplateOutletContext]="{ node: child, parent: group }" />
          }
        </ng-template>
      </ul>
    }
  </li>
</ng-template>
