.demo-menu {
  display: flex;
  flex-flow: row wrap;

  .demo-menu-section {
    width: 300px;
    margin: 20px;
  }

  .demo-end-icon {
    justify-content: flex-end;
  }
}

.demo-context-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  max-width: 500px;
  outline: dashed 1px;
}
