@use './m2-optgroup';
@use './m3-optgroup';
@use '../tokens/token-utils';
@use '../tokens/m3-system';

$token-prefix: m2-optgroup.$prefix;
$token-slots: m2-optgroup.get-token-slots();
$fallbacks: m3-optgroup.get-tokens(m3-system.$theme-with-system-vars);

.mat-mdc-optgroup {
  // These tokens are set on the root option group to make them easier to override.
  @include token-utils.use-tokens($token-prefix, $token-slots, $fallbacks) {
    color: token-utils.slot(label-text-color);
    font-family: token-utils.slot(label-text-font);
    line-height: token-utils.slot(label-text-line-height);
    font-size: token-utils.slot(label-text-size);
    letter-spacing: token-utils.slot(label-text-tracking);
    font-weight: token-utils.slot(label-text-weight);
  }
}

.mat-mdc-optgroup-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  min-height: 48px;
  padding: 0 16px;
  outline: none;

  &.mdc-list-item--disabled {
    opacity: 0.38;
  }

  // Needs to be overwritten explicitly, because the style can
  // leak in from the list and cause the text to truncate.
  .mdc-list-item__primary-text {
    // MDC assigns the typography to this element, rather than the element itself, which will break
    // existing overrides. Set all of the typography-related properties to `inherit` so that any
    // styles set on the host can propagate down.
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    white-space: normal;
    color: inherit;
  }
}
