button.docs-theme-picker-trigger {
  color: inherit;
}

.docs-theme-picker-menu {
  .mat-mdc-menu-item {
    .theme-example-icon {
      margin-right: 0;
      margin-left: 24px;
      order: 1;
      width: 24px;
      height: 24px;
      border-radius: 4px;

      svg {
        vertical-align: middle;
      }
    }
  }
}
