<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <nav *ngFor="let category of docItems.getCategories((params | async)?.section); let last = last;">
      <button cdkAccordionItem #panel="cdkAccordionItem" (click)="panel.toggle()" expanded="true"
              class="docs-nav-content-btn"
              [attr.aria-label]="category.name + ', section toggle'"
              [attr.aria-controls]="'panel-' + category.id"
              [attr.aria-expanded]="panel.expanded">
        {{category.name}}
        <mat-icon>{{panel.expanded ? 'keyboard_arrow_up' :  'keyboard_arrow_down'}}</mat-icon>
      </button>
      <ul [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'" id="panel-{{category.id}}">
        <li *ngFor="let component of category.items">
          <a [routerLink]="'/' + (params | async)?.section+ '/' + component.id"
            routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
      <hr *ngIf="!last" />
    </nav>
  </div>
</div>
