@use '../core/tokens/token-utils';
@use './m2-divider';

$inset-margin: 80px;

.mat-divider {
  display: block;
  margin: 0;
  border-top-style: solid;
  @include token-utils.use-tokens(m2-divider.$prefix, m2-divider.get-token-slots()) {
    border-top-color: token-utils.slot(color);
    border-top-width: token-utils.slot(width);

    &.mat-divider-vertical {
      border-top: 0;
      border-right-style: solid;
      border-right-color: token-utils.slot(color);
      border-right-width: token-utils.slot(width);
    }
  }

  &.mat-divider-inset {
    margin-left: $inset-margin;
    [dir='rtl'] & {
      margin-left: auto;
      margin-right: $inset-margin;
    }
  }
}
