.example-listbox-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.tabs {
  border: 1px solid var(--mat-sys-outline);
  min-height: 30vh;
}

.tabs:has(ul[aria-orientation='vertical']) {
  display: flex;
}

ul {
  gap: 8px;
  margin: 0;
  padding: 8px;
  max-height: 50vh;
  border-bottom: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}

ul[aria-orientation='vertical'] {
  flex-direction: column;
  border-bottom: initial;
  border-right: 1px solid var(--mat-sys-outline);
  justify-content: start;
}

ul[aria-orientation='horizontal'] li::before {
  display: none;
}

ul[aria-orientation='horizontal'] li[aria-selected='true']::before {
  display: block;
}

li {
  gap: 16px;
  padding: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: var(--mat-sys-corner-extra-small);
}

li:hover,
li[tabindex='0'] {
  outline: 1px solid var(--mat-sys-outline);
  background: var(--mat-sys-surface-container);
}

li:focus-within {
  outline: 2px solid var(--mat-sys-primary);
  background: var(--mat-sys-surface-container);
}

li[aria-selected='true'] {
  background-color: var(--mat-sys-secondary-container);
}

[role='tabpanel'] {
  margin: 8px;
}

[role='tabpanel'][aria-hidden='true'] {
  display: none;
}