<md-toolbar color="primary" role="header" aria-label="Responsive sidenav app"
            [class.a11y-demo-sidenav-header-fixed]="mobileQuery.matches">
  <button md-icon-button aria-label="Navigation menu" (click)="snav.toggle()">
    <md-icon aria-hidden="true">menu</md-icon>
  </button>
  <h1 class="a11y-demo-sidenav-app-name">Responsive Sidenav App</h1>
</md-toolbar>

<md-sidenav-container
    class="a11y-demo-sidenav-container"
    [class.a11y-demo-sidenav-container-fixed]="mobileQuery.matches"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <md-sidenav
      #snav
      role="navigation"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
    <md-nav-list>
      <a md-list-item routerLink="..">Home</a>
      <a md-list-item routerLink="../basic">Basic sidenav example</a>
      <a md-list-item routerLink="../mobile">Responsive sidenav example</a>
      <a md-list-item routerLink="../dual">Dual sidenavs example</a>
    </md-nav-list>
    <p class="a11y-demo-sidenav-filler" *ngFor="let f of filler">Filler content</p>
  </md-sidenav>

  <md-sidenav-content role="region">
    <button md-raised-button aria-label="Close responsive sidenav example" color="primary"
            class="a11y-demo-sidenav-close" routerLink="..">
      Close example
    </button>
    <p class="a11y-demo-sidenav-filler" *ngFor="let f of filler">Filler content</p>
  </md-sidenav-content>
</md-sidenav-container>
