.docs-icon-scene-icon {
  margin: 5px;
}

.scene-backup {
  color: #c11;
}

.scene-cast {
  color: #f77;
}

.scene-insights {
  color: #e66;
}

.scene-pets {
  color: #f11;
}

.scene-verified {
  color: #d66;
}
