.example-tree-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.example-tree-output {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
}

.example-tree {
  padding: 10px;
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
  overflow-x: scroll;
  min-width: 24rem;
}

.example-tree-item {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
}

.example-icon {
  margin: 0;
  width: 24px;
}

.example-parent-icon {
  transition: transform 0.2s ease;
}

.example-tree-item[aria-expanded='true'] .example-parent-icon {
  transform: rotate(90deg);
}

.example-selected-icon {
  visibility: hidden;
  margin-left: auto;
}

.example-tree-item[aria-selected='true'] .example-selected-icon {
  visibility: visible;
}
