.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-icons-to-right {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 5px;
  color: blue;
}
