@use 'sass:map';
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

// Add an indicator to make it clear that the app is styled with the experimental M3 theme.
dev-app {
  &::before {
    content: 'Using experimental M3 theme, only components that support M3 will work';
    display: inline-block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background: red;
    color: white;
  }
}

// Emit Angular Material core styles.
@include mat.core();

// Base theme configuration for our M3 theme.
$m3-base-config: (
  color: (
    primary: matx.$m3-green-palette
  ),
);

// Our M3 light theme.
$light-theme: matx.define-theme($m3-base-config);

// Our M3 dark theme.
$dark-theme: matx.define-theme(map.set($m3-base-config, color, theme-type, dark));

// Emit default theme styles.
html {
  @include mat.checkbox-theme($light-theme);
  @include mat.card-theme($light-theme);
  @include mat.tooltip-theme($light-theme);
  @include mat.toolbar-theme($light-theme);
  @include mat.slider-theme($light-theme);
  @include mat.snack-bar-theme($light-theme);
  @include mat.progress-spinner-theme($light-theme);
  @include mat.radio-theme($light-theme);
  @include mat.progress-bar-theme($light-theme);
}

// Emit dark theme styles.
.demo-unicorn-dark-theme {
  // TODO(mmalerba): choose colors from the theming API.
  background: black;
  color: white;

  @include mat.checkbox-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.tooltip-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.slider-color($dark-theme);
  @include mat.snack-bar-color($dark-theme);
  @include mat.progress-spinner-color($dark-theme);
  @include mat.radio-color($dark-theme);
  @include mat.progress-bar-color($dark-theme);

}

// Emit density styles for each scale.
@each $scale in (maximum, 0, -1, -2, -3, minimum) {
  $scale-theme: matx.define-theme(map.set($m3-base-config, density, scale, $scale));

  .demo-density-#{$scale} {
    @include mat.checkbox-density($scale-theme);
    @include mat.card-density($scale-theme);
    @include mat.tooltip-density($scale-theme);
    @include mat.toolbar-density($scale-theme);
    @include mat.slider-density($scale-theme);
    @include mat.snack-bar-density($scale-theme);
    @include mat.progress-spinner-density($scale-theme);
    @include mat.radio-density($scale-theme);
    @include mat.progress-bar-density($scale-theme);
  }
}
