<ng-container *ngIf="componentViewer.componentDocItem | async; let docItem">
  <h2 class="cdk-visually-hidden" tabindex="-1">
    Overview for {{docItem?.id}}
  </h2>
  <doc-viewer [documentUrl]="getOverviewDocumentUrl(docItem!)"
      class="docs-component-view-text-content docs-component-overview"
      (contentRendered)="updateTableOfContents('Overview Content', $event)">
  </doc-viewer>
  <table-of-contents #toc container=".mat-drawer-content" *ngIf="showToc | async"></table-of-contents>
</ng-container>
