.docs-component-viewer-sidenav {
  &.md-sidenav-opened {
    box-shadow: none;
  }

  border-right: 1px solid black;
  width: 300px;
  margin: 20px;
}

.docs-component-viewer-header {
  margin: 50px;
}

.docs-component-viewer-tabbed-content {
  margin: 50px;

  md-tab {
    margin: 30px;
  }
}
