.example-tabs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

.example-tabs-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example-configurable-tabs-container {
  padding-top: 40px;
}

h4 {
  height: 36px;
}
