@use '@angular/material' as mat;

@mixin theme($theme) {
  .docs-toc-container {
    border-left: solid 4px mat.get-theme-color($theme, primary-container);

    .docs-link {
      color: mat.get-theme-color($theme, on-surface);

      &:hover,
      &.docs-active {
        color: mat.get-theme-color($theme, primary);
      }
    }
  }
}
