:host {
  font-size: 13px;
  width: 19%;
  position: sticky;
  top: 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.docs-toc-container {
  padding: 5px 0 10px 12px;
  width: 100%;
}

.docs-toc-heading {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

a {
  line-height: 16px;
  margin: 8px 0 0;
  position: relative;
  text-decoration: none;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.docs-level-h4 {
  margin-left: 12px;
}
