@use '../core/style/sass-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';
@use '../core/theming/validation';
@use '../core/tokens/token-utils';
@use '../core/typography/typography';
@use '../core/tokens/m2/mdc/checkbox' as tokens-mdc-checkbox;
@use '../core/tokens/m2/mat/checkbox' as tokens-mat-checkbox;

/// Outputs base theme styles (styles not dependent on the color, typography, or density settings)
/// for the mat-checkbox.
/// @param {Map} $theme The theme to generate base styles for.
@mixin base($theme) {
  @if inspection.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, base));
  } @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(
        tokens-mdc-checkbox.$prefix,
        tokens-mdc-checkbox.get-unthemable-tokens()
      );
      @include token-utils.create-token-values(
        tokens-mat-checkbox.$prefix,
        tokens-mat-checkbox.get-unthemable-tokens()
      );
    }
  }
}

/// Outputs color theme styles for the mat-checkbox.
/// @param {Map} $theme The theme to generate color styles for.
/// @param {ArgList} Additional optional arguments (only supported for M3 themes):
///   $color-variant: The color variant to use for the checkbox: primary, secondary, tertiary, or
///     error (If not specified, default primary color will be used).
@mixin color($theme, $options...) {
  @if inspection.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, color), $options...);
  } @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(
        tokens-mdc-checkbox.$prefix,
        tokens-mdc-checkbox.get-color-tokens($theme)
      );
      @include token-utils.create-token-values(
        tokens-mat-checkbox.$prefix,
        tokens-mat-checkbox.get-color-tokens($theme)
      );
    }

    .mat-mdc-checkbox {
      &.mat-primary {
        @include token-utils.create-token-values(
          tokens-mdc-checkbox.$prefix,
          tokens-mdc-checkbox.get-color-tokens($theme, primary));
      }

      &.mat-warn {
        @include token-utils.create-token-values(
          tokens-mdc-checkbox.$prefix,
          tokens-mdc-checkbox.get-color-tokens($theme, warn));
      }
    }
  }
}

/// Outputs typography theme styles for the mat-checkbox.
/// @param {Map} $theme The theme to generate typography styles for.
@mixin typography($theme) {
  @if inspection.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, typography));
  } @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(
        tokens-mdc-checkbox.$prefix,
        tokens-mdc-checkbox.get-typography-tokens($theme)
      );
      @include token-utils.create-token-values(
        tokens-mat-checkbox.$prefix,
        tokens-mat-checkbox.get-typography-tokens($theme)
      );
    }
  }
}

/// Outputs density theme styles for the mat-checkbox.
/// @param {Map} $theme The theme to generate density styles for.
@mixin density($theme) {
  $density-scale: inspection.get-theme-density($theme);

  @if inspection.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, density));
  } @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(
        tokens-mdc-checkbox.$prefix,
        tokens-mdc-checkbox.get-density-tokens($theme)
      );
      @include token-utils.create-token-values(
        tokens-mat-checkbox.$prefix,
        tokens-mat-checkbox.get-density-tokens($theme)
      );
    }
  }
}

/// Outputs the CSS variable values for the given tokens.
/// @param {Map} $tokens The token values to emit.
@mixin overrides($tokens: ()) {
  @include token-utils.batch-create-token-values(
    $tokens,
    (
      prefix: tokens-mat-checkbox.$prefix,
      tokens: tokens-mat-checkbox.get-token-slots(),
    ),
    (
      prefix: tokens-mdc-checkbox.$prefix,
      tokens: tokens-mdc-checkbox.get-token-slots(),
    )
  );
}

/// Outputs all (base, color, typography, and density) theme styles for the mat-checkbox.
/// @param {Map} $theme The theme to generate styles for.
/// @param {ArgList} Additional optional arguments (only supported for M3 themes):
///   $color-variant: The color variant to use for the checkbox: primary, secondary, tertiary, or
///     error (If not specified, default primary color will be used).
@mixin theme($theme, $options...) {
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-checkbox') {
    @if inspection.get-theme-version($theme) == 1 {
      @include _theme-from-tokens(inspection.get-theme-tokens($theme), $options...);
    } @else {
      @include base($theme);
      @if inspection.theme-has($theme, color) {
        @include color($theme);
      }
      @if inspection.theme-has($theme, density) {
        @include density($theme);
      }
      @if inspection.theme-has($theme, typography) {
        @include typography($theme);
      }
    }
  }
}

@mixin _theme-from-tokens($tokens, $options...) {
  @include validation.selector-defined(
    'Calls to Angular Material theme mixins with an M3 theme must be wrapped in a selector'
  );
  $mdc-checkbox-tokens: token-utils.get-tokens-for(
    $tokens,
    tokens-mdc-checkbox.$prefix,
    $options...
  );
  // Don't pass $options here, since the mdc-checkbox doesn't support color options,
  // only the mdc-checkbox does.
  $mat-checkbox-tokens: token-utils.get-tokens-for($tokens, tokens-mat-checkbox.$prefix);
  @include token-utils.create-token-values(tokens-mdc-checkbox.$prefix, $mdc-checkbox-tokens);
  @include token-utils.create-token-values(tokens-mat-checkbox.$prefix, $mat-checkbox-tokens);
}
