@use 'sass:map';
@use '../core/tokens/m3-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, grid-list);

/// Generates custom tokens for the mat-grid-list.
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (),
    color: (),
    typography: (
      tile-header-primary-text-size: map.get($system, body-large),
      tile-header-secondary-text-size: map.get($system, body-medium),
      tile-footer-primary-text-size: map.get($system, body-large),
      tile-footer-secondary-text-size: map.get($system, body-medium),
    ),
    density: (),
  );
}
