h2 {
  margin: 10px;
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

md-checkbox {
  margin: 0 10px;
}

.radio-group-label, md-checkbox, md-radio-button {
  margin: 0 10px;
}
