@use '@angular/material' as mat;

// Mixin to apply theme colors for both generated API docs and markdown docs (guides/overviews).
@mixin theme($theme) {
  .docs-api table,
  .docs-markdown > table {
    color: mat.get-theme-color($theme, on-surface);
  }

  .docs-api th,
  .docs-markdown > table th {
    font-weight: 500;
  }

  .docs-api tr,
  .docs-markdown > table tr {
    border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    height: 56px;
  }
}
