@import 'typography-utils';

// Represents a typography level from the Material design spec.
@function mat-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal,
  $text-transform: none
) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    font-family: $font-family,
    letter-spacing: $letter-spacing,
    text-transform: $text-transform
  );
}

// Represents a collection of typography levels.
// Defaults come from https://material.io/guidelines/style/typography.html
// Note: The spec doesn't mention letter spacing. The values here come from
// eyeballing it until it looked exactly like the spec examples.
@function mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  // $body-2: mat-typography-level(14px, 24px, 500),
  // $body-1: mat-typography-level(14px, 20px, 400),
  // $caption: mat-typography-level(12px, 20px, 400),
  // $button: mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(inherit, 1.125, 400),
  // New typography specs
  $heading-1: mat-typography-level(
    96 * 0.0625rem,
    112 * 0.0625rem,
    300,
    $letter-spacing: mat-calc-letter-spacing(-1.5, 96)
  ),
  $heading-2: mat-typography-level(
    60 * 0.0625rem,
    71 * 0.0625rem,
    300,
    $letter-spacing: mat-calc-letter-spacing(-0.5, 60)
  ),
  $heading-3: mat-typography-level(48 * 0.0625rem, 57 * 0.0625rem),
  $heading-4: mat-typography-level(
    34 * 0.0625rem,
    40 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(0.25, 34)
  ),
  $heading-5: mat-typography-level(24 * 0.0625rem, 28 * 0.0625rem),
  $heading-6: mat-typography-level(
    20 * 0.0625rem,
    24 * 0.0625rem,
    500,
    $letter-spacing: mat-calc-letter-spacing(0.15, 20)
  ),
  $subtitle-1: mat-typography-level(
    16 * 0.0625rem,
    24 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(0.15, 16)
  ),
  $subtitle-2: mat-typography-level(
    14 * 0.0625rem,
    24 * 0.0625rem,
    500,
    $letter-spacing: mat-calc-letter-spacing(0.1, 14)
  ),
  $body-1: mat-typography-level(
    16 * 0.0625rem,
    28 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(0.44, 16)
  ),
  $body-2: mat-typography-level(
    14 * 0.0625rem,
    20 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(0.25, 14)
  ),
  $button: mat-typography-level(
    14 * 0.0625rem,
    16 * 0.0625rem,
    500,
    $letter-spacing: mat-calc-letter-spacing(1.35, 14)
  ),
  $caption: mat-typography-level(
    12 * 0.0625rem,
    16 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(0.4, 12)
  ),
  $overline: mat-typography-level(
    10 * 0.0625rem,
    16 * 0.0625rem,
    $letter-spacing: mat-calc-letter-spacing(1.5, 10),
    $text-transform: uppercase
  )
) {
  // Declare an initial map with all of the levels.
  $config: (
    display-4: $display-4,
    display-3: $display-3,
    display-2: $display-2,
    display-1: $display-1,
    headline: $headline,
    title: $title,
    subheading-2: $subheading-2,
    subheading-1: $subheading-1,
    // body-2:         $body-2,
      // body-1:         $body-1,
      // caption:        $caption,
      // button:         $button,
      input: $input,
    // New typography specs
      heading-1: $heading-1,
    heading-2: $heading-2,
    heading-3: $heading-3,
    heading-4: $heading-4,
    heading-5: $heading-5,
    heading-6: $heading-6,
    subtitle-1: $subtitle-1,
    subtitle-2: $subtitle-2,
    body-1: $body-1,
    body-2: $body-2,
    button: $button,
    caption: $caption,
    overline: $overline
  );

  // Loop through the levels and set the `font-family` of the ones that don't have one to the base.
  // Note that Sass can't modify maps in place, which means that we need to merge and re-assign.
  @each $key, $level in $config {
    @if map-get($level, font-family) == null {
      $new-level: map-merge(
        $level,
        (
          font-family: $font-family
        )
      );
      $config: map-merge(
        $config,
        (
          $key: $new-level
        )
      );
    }
  }

  // Add the base font family to the config.
  @return map-merge(
    $config,
    (
      font-family: $font-family
    )
  );
}

// Adds the base typography styles, based on a config.
@mixin mat-base-typography($config, $selector: '.mat-typography') {
  @each $key, $level in $config {
    @if $key != 'font-family' {
      #{$selector} .mat-#{$key},
      .mat-#{$key} {
        @include mat-typography-level-to-styles($config, $key);
        @if $key != 'body-1' or $key != 'body-2' or $key != 'button' or
          $key != 'caption' or $key != 'overline' {
          margin: 0 0 16px;
        }
      }
      @if $key == 'heading-1' or $key == 'heading-2' or $key == 'heading-3' or
        $key == 'heading-4' or $key == 'heading-5' or $key == 'heading-6' {
        #{$selector} h#{str-slice($key, 9)},
        .mat-h#{str-slice($key, 9)} {
          @extend .mat-#{$key};
        }
      }
    }
  }

  #{$selector} {
    @include mat-typography-level-to-styles($config, body-1);
    p {
      margin: 0 0 12px;
    }
  }
}
