<div class="demo-sticky">
  <div class="demo-centered" cdk-scrollable>
    <div>
      <h1>Sticky-header Demo</h1>
    </div>

    <div class="demo-container">

      <div>
        <div cdkStickyHeader class="demo-header-style demo-header-color3" >
          <h2>Unread Messages</h2>
        </div>
        <P *ngFor="let item of items">{{item.name}} :  {{item.messages}}</P>
      </div>

      <div cdkStickyRegion >
        <div cdkStickyHeader class="demo-header-style demo-header-color2">
          <h2>Late Messages</h2>
        </div>
        <P *ngFor="let item of items">{{item.name}} :  {{item.messages}}</P>
        <P *ngFor="let item of items">{{item.name}} :  {{item.messages}}</P>
      </div>

      <div cdkStickyRegion>
        <div cdkStickyHeader class="demo-header-style demo-header-color1" >
          <h2>Read Messages</h2>
        </div>
        <P *ngFor="let item of items">{{item.name}} :  {{item.messages}}</P>
        <P *ngFor="let item of items">{{item.name}} :  {{item.messages}}</P>
      </div>
    </div>
  </div>
</div>
