.scene-card {
  width: 260px;
}

.scene-content {
  background: rgba(red, 0.3);
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.docs-scene-card-title {
  background: rgba(red, 0.5);
  border-radius: 4px;
  height: 30px;
  width: 70%;
}
