.mat-bottom-sheet-container {
  min-width: 0 !important;
  width: 250px;
  border-top-left-radius: var(--mat-bottom-sheet-container-shape);
  border-top-right-radius: var(--mat-bottom-sheet-container-shape);
}
