@import '../all-theme';
@import '../../mdc-typography/all-typography';

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: (
    color: mat-light-theme($primary, $accent),
    typography: mat-mdc-typography-config()
);

// Include non-theme styles for core.
@include mat-core($theme);

// Include all theme styles for the components.
@include mat-core-theme($theme);
@include angular-material-mdc-theme($theme);
