@import 'default-theme';
@import 'theme-functions';

$md-ink-ripple-focused-opacity: 0.1;
$md-ink-ripple-background-fade-duration: 300ms;
$md-ink-ripple-background-default-color: rgba(34, 34, 34, 0.1);
$md-ink-ripple-foreground-initial-opacity: 0.25;
$md-ink-ripple-foreground-default-color: rgba(34, 34, 34, 0.1);

/**
 * An <md-ink-ripple> component should always have a position of "absolute" or "relative",
 * so that the ripple divs it creates inside itself are correctly positioned.
 */
md-ink-ripple {
  overflow: hidden;
  // The default trigger for the ripple is the parent element, but we need to
  // disable mouse events here to prevent the event from bubbling up to the
  // parent. The <md-ink-ripple> can have larger bounds than its parent, and
  // we don't want a click outside the parent to trigger the ripple.
  pointer-events: none;
}

/**
 * Style that can be used by parent elements to specify that the <md-ink-ripple>
 * should have the same bounds as its parent.
 */
md-ink-ripple.md-ripple-fit-parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.md-ripple-background {
  background-color: $md-ink-ripple-background-default-color;
  opacity: 0;
  transition: opacity $md-ink-ripple-background-fade-duration linear;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.md-ripple-background.active {
  opacity: 1;
}

md-ink-ripple.focused .md-ripple-background {
  background-color: md-color($md-accent, $md-ink-ripple-focused-opacity);
  opacity: 1;
}

.md-ripple-foreground {
  background-color: $md-ink-ripple-foreground-default-color;
  border-radius: 50%;
  pointer-events: none;
  opacity: $md-ink-ripple-foreground-initial-opacity;
  position: absolute;
  // The transition duration is manually set based on the ripple size.
  transition: all 0ms cubic-bezier(0, 0, 0.2, 1);
}

.md-ripple-foreground.fade-in {
  opacity: 1;
}

.md-ripple-foreground.fade-out {
  opacity: 0;
}
