<h1 id="md-list">md-list</h1>
<p><code>md-list</code> is a container component that wraps and formats a series of line items. As the base list component,
 it provides Material Design styling, but no behavior of its own.</p>
<h2 id="usage">Usage</h2>
<h3 id="simple-list">Simple list</h3>
<p>In your template, create an <code>md-list</code> element and wrap each of your items in an <code>md-list-item</code> tag.</p>
<pre><code class="lang-html">&lt;md-list&gt;
   &lt;md-list-item&gt; Pepper &lt;/md-list-item&gt;
   &lt;md-list-item&gt; Salt &lt;/md-list-item&gt;
   &lt;md-list-item&gt; Paprika &lt;/md-list-item&gt;
&lt;/md-list&gt;
</code></pre>
<p>Output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/basic-list.png"></p>
<h3 id="multi-line-lists">Multi-line lists</h3>
<p>If your list requires multiple lines per list item, annotate each line with an <code>md-line</code> attribute.
You can use whichever heading tag is appropriate for your DOM hierarchy (doesn&#39;t have to be <code>h3</code>),
as long as the <code>md-line</code> attribute is included.</p>
<pre><code class="lang-html">&lt;!-- two line list --&gt;
&lt;md-list&gt;
  &lt;md-list-item *ngFor=&quot;let message of messages&quot;&gt;
    &lt;h3 md-line&gt; {{message.from}} &lt;/h3&gt;
    &lt;p md-line&gt;
      &lt;span&gt; {{message.subject}} &lt;/span&gt;
      &lt;span class=&quot;demo-2&quot;&gt; -- {{message.message}} &lt;/span&gt;
    &lt;/p&gt;
  &lt;/md-list-item&gt;
&lt;/md-list&gt;

&lt;!-- three line list --&gt;
&lt;md-list&gt;
  &lt;md-list-item *ngFor=&quot;let message of messages&quot;&gt;
    &lt;h3 md-line&gt; {{message.from}} &lt;/h3&gt;
    &lt;p md-line&gt; {{message.subject}} &lt;/p&gt;
    &lt;p md-line class=&quot;demo-2&quot;&gt; {{message.message}} &lt;/p&gt;
  &lt;/md-list-item&gt;
&lt;/md-list&gt;
</code></pre>
<p>Two line list output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/two-line-list.png"></p>
<p>Three line list output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/three-line-list.png"></p>
<h3 id="lists-with-avatars">Lists with avatars</h3>
<p>To include an avatar, add an image tag with an <code>md-list-avatar</code> attribute.</p>
<pre><code class="lang-html">&lt;md-list&gt;
  &lt;md-list-item *ngFor=&quot;let message of messages&quot;&gt;
    &lt;img md-list-avatar src=&quot;...&quot; alt=&quot;...&quot;&gt;
    &lt;h3 md-line&gt; {{message.from}} &lt;/h3&gt;
    &lt;p md-line&gt;
      &lt;span&gt; {{message.subject}} &lt;/span&gt;
      &lt;span class=&quot;demo-2&quot;&gt; -- {{message.message}} &lt;/span&gt;
    &lt;/p&gt;
  &lt;/md-list-item&gt;
&lt;/md-list&gt;
</code></pre>
<p>Output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/list-with-avatar-2.png"></p>
<h3 id="dense-lists">Dense lists</h3>
<p>Lists are also available in &quot;dense layout&quot; mode, which shrinks the font size and height of the list
to suit UIs that may need to display more information.  To enable this mode, add a <code>dense</code> attribute
to the main <code>md-list</code> tag.</p>
<pre><code class="lang-html">&lt;md-list dense&gt;
   &lt;md-list-item&gt; Pepper &lt;/md-list-item&gt;
   &lt;md-list-item&gt; Salt &lt;/md-list-item&gt;
   &lt;md-list-item&gt; Paprika &lt;/md-list-item&gt;
&lt;/md-list&gt;
</code></pre>
<p>Output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/dense-list.png"></p>
<h3 id="lists-with-multiple-sections">Lists with multiple sections</h3>
<p>You can add a subheader to a list by annotating a heading tag with an <code>md-subheader</code> attribute. To add a divider,
use <code>&lt;md-divider&gt;</code> tags.</p>
<pre><code class="lang-html">&lt;md-list&gt;
   &lt;h3 md-subheader&gt;Folders&lt;/h3&gt;
   &lt;md-list-item *ngFor=&quot;let folder of folders&quot;&gt;
      &lt;md-icon md-list-avatar&gt;folder&lt;/md-icon&gt;
      &lt;h4 md-line&gt;{{folder.name}}&lt;/h4&gt;
      &lt;p md-line class=&quot;demo-2&quot;&gt; {{folder.updated}} &lt;/p&gt;
   &lt;/md-list-item&gt;
   &lt;md-divider&gt;&lt;/md-divider&gt;
   &lt;h3 md-subheader&gt;Notes&lt;/h3&gt;
   &lt;md-list-item *ngFor=&quot;let note of notes&quot;&gt;
      &lt;md-icon md-list-avatar&gt;note&lt;/md-icon&gt;
      &lt;h4 md-line&gt;{{note.name}}&lt;/h4&gt;
      &lt;p md-line class=&quot;demo-2&quot;&gt; {{note.updated}} &lt;/p&gt;
   &lt;/md-list-item&gt;
&lt;/md-list&gt;
</code></pre>
<p>Output:</p>
<p><img src="https://material.angularjs.org/material2_assets/list/subheader-list.png"></p>
<h3 id="navigation-lists">Navigation lists</h3>
<p>Use <code>md-nav-list</code> tags for navigation lists (i.e. lists that have anchor tags).</p>
<p>Simple nav lists can tack an <code>md-list-item</code> attribute onto the anchor tag itself:</p>
<pre><code class="lang-html">&lt;md-nav-list&gt;
   &lt;a md-list-item href=&quot;...&quot; *ngFor=&quot;let link of links&quot;&gt; {{ link }} &lt;/a&gt;
&lt;/md-nav-list&gt;
</code></pre>
<p>If you require a more complex nav list (e.g. with more than one target per item), wrap your anchor tag in an <code>md-list-item</code> element.</p>
<pre><code class="lang-html">&lt;md-nav-list&gt;
  &lt;md-list-item *ngFor=&quot;let link of links&quot;&gt;
     &lt;a md-line href=&quot;...&quot;&gt;{{ link }}&lt;/a&gt;
     &lt;button md-icon-button (click)=&quot;showInfo(link)&quot;&gt;
        &lt;md-icon&gt;info&lt;/md-icon&gt;
     &lt;/button&gt;
  &lt;/md-list-item&gt;
&lt;/md-nav-list&gt;
</code></pre>
<h3 id="lists-with-secondary-text">Lists with secondary text</h3>
<p>Secondary text styling will be part of a broader typography module to
<a href="https://github.com/angular/material2/issues/205">come later</a>, and won’t be implemented as part of this component
specifically. Gray text in the examples above comes from a &quot;demo-2&quot; class added manually by the demo.</p>
