@use '../../theming/palettes';
@use '../../../core/tokens/m3-system';

html {
  @include m3-system.theme((
    color: (
      theme-type: light,
      primary: palettes.$azure-palette,
      tertiary: palettes.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
