@use '../../theming/palettes';
@use '../../../core/tokens/m3-system';

html {
  @include m3-system.theme((
    color: (
      theme-type: dark,
      primary: palettes.$cyan-palette,
      tertiary: palettes.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
