@use '../all-theme';
@use '../../core';
@use '../../m2';
@use '../../typography/typography';

@include core.app-background();
@include core.elevation-classes();

// Define a theme.
$primary: m2.define-palette(m2.$purple-palette, 700, 500, 800);
$accent:  m2.define-palette(m2.$green-palette, A200, A100, A400);

$theme: m2.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: m2.define-typography-config(),
  density: 0,
));

// Include all theme styles for the components.
@include all-theme.all-component-themes($theme);

@include typography.typography-hierarchy($theme);
