<div class="example-tablist-controls">
  <mat-checkbox [formControl]="wrap">Wrap</mat-checkbox>
  <mat-checkbox [formControl]="disabled">Disabled</mat-checkbox>
  <mat-checkbox [formControl]="softDisabled">Soft Disabled</mat-checkbox>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Orientation</mat-label>
    <mat-select [(value)]="orientation">
      <mat-option value="vertical">Vertical</mat-option>
      <mat-option value="horizontal">Horizontal</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Selection strategy</mat-label>
    <mat-select [(value)]="selectionMode">
      <mat-option value="explicit">Explicit</mat-option>
      <mat-option value="follow">Follow Focus</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Focus strategy</mat-label>
    <mat-select [(value)]="focusMode">
      <mat-option value="roving">Roving Tabindex</mat-option>
      <mat-option value="activedescendant">Active Descendant</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Tab selection</mat-label>
    <mat-select [(value)]="selectedTab">
      @for (tabDef of tabsData; track tabDef.value) {
         <mat-option [value]="tabDef.value">{{ tabDef.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div ngTabs>
  <div
    ngTabList
    [wrap]="wrap.value"
    [disabled]="disabled.value"
    [softDisabled]="softDisabled.value"
    [orientation]="orientation"
    [focusMode]="focusMode"
    [selectedTab]="selectedTab"
    selectionMode="explicit"
  >
    @for (tabDef of tabsData; track tabDef.value) {
      <div ngTab [panel]="tabDef.value">{{ tabDef.label }}</div>
    }    
  </div>

  @for (tabDef of tabsData; track tabDef.value) {
    <div ngTabPanel [id]="tabDef.value">
      <ng-template ngTabContent>{{ tabDef.label }}</ng-template>
    </div>
  }
</div>
