@use 'sass:map';
@use 'sass:list';
@use '../core/tokens/m3-utils';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, tree);

/// Generates custom tokens for the mat-tree.
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (),
    color: (
      container-background-color: map.get($system, surface),
      node-text-color: map.get($system, on-surface),
    ),
    typography: (
      node-text-font: map.get($system, body-large-font),
      node-text-size: map.get($system, body-large-size),
      node-text-weight: map.get($system, body-large-weight),
    ),
    density: get-density-tokens(map.get($theme, inspection.$internals, density-scale)),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -4);
  $index: ($scale * -1) + 1;

  @return (
    node-min-height: list.nth((48px, 44px, 40px, 36px, 28px), $index),
  );
}
