@use '../core/tokens/token-utils';
@use './m2-tree';

.mat-tree {
  display: block;

  @include token-utils.use-tokens(m2-tree.$prefix, m2-tree.get-token-slots()) {
    background-color: token-utils.slot(container-background-color);
  }
}

.mat-tree-node,
.mat-nested-tree-node {
  @include token-utils.use-tokens(m2-tree.$prefix, m2-tree.get-token-slots()) {
    color: token-utils.slot(node-text-color);
    font-family: token-utils.slot(node-text-font);
    font-size: token-utils.slot(node-text-size);
    font-weight: token-utils.slot(node-text-weight);
  }
}

.mat-tree-node {
  display: flex;
  align-items: center;
  flex: 1;
  word-wrap: break-word;

  @include token-utils.use-tokens(m2-tree.$prefix, m2-tree.get-token-slots()) {
    // TODO: before tokens were introduced, the `min-height` only applied to the
    // non-nested tree node. Should it apply to the nested one as well?
    min-height: token-utils.slot(node-min-height);
  }
}

.mat-nested-tree-node {
  border-bottom-width: 0;
}
