<form (submit)="$event.preventDefault()">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput (cdkAutofill)="firstNameAutofilled = $event.isAutofilled">
    @if (firstNameAutofilled) {
      <mat-hint>Autofilled!</mat-hint>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput (cdkAutofill)="lastNameAutofilled = $event.isAutofilled">
    @if (lastNameAutofilled) {
      <mat-hint>Autofilled!</mat-hint>
    }
  </mat-form-field>
  <button mat-raised-button>Submit</button>
</form>
