.tree-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  background: white;

  // Table fills in the remaining area with a scroll
  cdk-tree {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.row {
  display: flex;
  height: 48px;
  align-items: center;
}

.special {
  border: 1px dotted #e0e0e0;
  border-width: 0 0 0 1px;
  z-index: 0;
}

div.space div {
  width: 45px;
  height: 48px;
  position: relative;
  bottom: 34px;
  left: 12px;
  display: inline-block;
}

div.space div:last-child {
  border: 1px dotted #e0e0e0;
  border-width: 0 0 1px 1px;
  z-index: 0;
}

.mat-checkbox {
  background-color: white;
  z-index: 10;
}

.mat-node-trigger .mat-icon {
  background-color: white;
  z-index: 10;
}

md-icon {
  cursor: hand;
}

ul, li { list-style: none; margin: 0; padding: 0; }

cdk-node.cdk-keyboard-focused .single-node,
cdk-node.cdk-program-focused .single-node {
  background-color: rgba(0, 0, 0, 0.1);
  outline-width: 0;
}


ul, li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

cdk-node.cdk-keyboard-focus .single-node,
cdk-node.cdk-program-focus .single-node {
  outline: none;
  background-color: rgba(0,0,0,0.1);
}
