<div class="row">
  <div class="space">
    <div *ngFor="let a of createArray(node.parentMap.length); let index = index" [class.special]="node.parentMap[index]"></div>
  </div>
  <a md-icon-button (click)="treeControl.toggleDecedents(node)">
    <md-icon *ngIf="node.expandable">{{ selected ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
  </a>

  <md-checkbox (click)="$event.stopPropagation()"
               (change)="selectNode(node, $event)"
               [checked]="selected">
    {{node.key}}<span *ngIf="node.value">: {{node.value}}</span> </md-checkbox>
</div>

