
<md-input-container>
    <textarea mdInput [(ngModel)]="data"></textarea>
</md-input-container>
<md-slide-toggle [(ngModel)]="flat">Flat: {{flat}}</md-slide-toggle>
<button md-button (click)="submit()">Submit</button>

<div class="tree-container mat-elevation-z4">
    <div class="empty-tree" *ngIf="!dataSource.filteredData.length">
        No data to display.
    </div>

    <cdk-tree #tree [dataSource]="dataSource" [style.display]="!!dataSource.filteredData.length ? '' : 'none'">
        <md-node *mdNodeDef="let node let level=level let expandable=expandable">
            <li [mdNestedNode]="node" [class.container]="expandable">
                <div  [class.row]="true" [class.selected]="node ? selection.isSelected(node) : false"
                      [class.data-row]="!!node">
                        <a md-icon-button [mdNodeTrigger]="node" [mdNodeTriggerSelection]="expansionModel" [mdNodeTriggerRecursive]="expandRecursive">
                          <md-icon *ngIf="expandable">{{ expansionModel.isSelected(node) ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
                        </a>
                        <md-checkbox [mdNodeSelectTrigger]="node" [mdNodeTriggerSelection]="selection" [mdNodeTriggerRecursive]="selectRecursive"
                                     [checked]="selection.isSelected(node)">
                            {{node.key}}<span *ngIf="node.value">: {{node.value}}</span>
                        </md-checkbox>
                </div>
                <ul class="children" [style.display]="expansionModel.isSelected(node) ? 'block' : 'none'">
                    <ng-container mdNodePlaceholder> </ng-container>
                </ul>
            </li>
        </md-node>
    </cdk-tree>
</div>

Selected: <span *ngFor="let node of selection.selected">{{node.key}}: {{node.value}}, </span>
<br>


Expanded: <span *ngFor="let node of expansionModel.selected">{{node.key}} : {{node.value}}, </span>
<br>
<button md-button (click)="expandAll()">Expand All</button>
<button md-button (click)="collapseAll()">Collapse All</button>

<br>
<md-slide-toggle [(ngModel)]="expandRecursive">Expand Recursively</md-slide-toggle>
<br>
<md-slide-toggle [(ngModel)]="selectRecursive">Select Recursively</md-slide-toggle>