<li [mdNestedNode]="node">
    <div  *ngIf="flat" [class.selected]="node ? selection.isSelected(node) : false"
          [class.data-row]="!!node">
        <div class="row">
            <span [mdNodeExpandTrigger]="node" [mdNodeExpandTriggerRecursive]="expandIncludeChildren" >
              <md-icon *ngIf="expandable">{{ dataSource.expansionModel.isSelected(node) ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
            </span>
            <md-checkbox (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(node) : null"
                         [checked]="selection.isSelected(node)">
                {{node.key}}<span *ngIf="node.value">: {{node.value}}</span> </md-checkbox>
        </div>
    </div>
    <ul class="children" [style.display]="dataSource.expansionModel.isSelected(node) ? 'block' : 'none'">
        <ng-container mdNodePlaceholder> </ng-container>
    </ul>
</li>