<div class="row">
  <div class="space">
    <div *ngFor="let a of createArray(node.parentMap.length); let index = index" [class.special]="node.parentMap[index]"></div>
  </div>
  <div style="width: 40px; display: inline-block">
    <a md-icon-button (click)="treeControl.toggleDecedents(node)" *ngIf="node.expandable">
      <md-icon>{{ treeControl.expanded(node) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</md-icon>
    </a>
  </div>

  <md-checkbox (click)="$event.stopPropagation()"
               (change)="selectNode(node, $event)"
               [checked]="selected">
    {{node.key}}<span *ngIf="node.value">: {{node.value}}</span> </md-checkbox>
</div>

