.tree-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;

  // Table fills in the remaining area with a scroll
  md-tree {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.row {
  display: flex;
}

.special {
  border: 1px dotted #e0e0e0;
  border-width: 0 0 1px 1px;
  width: 45px;
  height: 48px;
  position: relative;
  bottom: 36px;
}