
<div class="tree-container mat-elevation-z4">

  <div class="empty-tree" *ngIf="!dataSource.filteredData.length">
    No data to display.
  </div>

  <md-tree #tree [dataSource]="dataSource" [style.display]="!!dataSource.filteredData.length ? '' : 'none'">
    <!-- Row templates. The columns used are set at the row template level -->
    <md-node *mdNodeDef="let node let level=level let expandable=expandable"
              [class.selected]="node ? selection.isSelected(node) : false"
              [class.data-row]="!!node"
              >
      <div class="row"  [style.padding-left]="getPadding(level)">


        <md-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? selection.toggle(node) : null"
                     [checked]="selection.isSelected(node)">
          <md-icon (click)="expansionModel.toggle(node)" *ngIf="expandable">{{ expansionModel.isSelected(node) ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
          {{node.name}} {{node.progress}} Level {{level}} Expanded {{expansionModel.isSelected(node)}}</md-checkbox>
        <button md-button (click)="gotoParent(node)">Go To Parent</button>
      </div>
    </md-node>
  </md-tree>
</div>

<button (click)="refreshData()" >Refresh</button>