@use 'sass:map';
@use '../core/tokens/m3-utils';
@use '../core/style/elevation';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, menu);

/// Generates custom tokens for the mat-menu.
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (
      divider-bottom-spacing: 8px,
      divider-top-spacing: 8px,
      item-icon-size: 24px,
      item-spacing: 12px,
      item-leading-spacing: 12px,
      item-trailing-spacing: 12px,
      item-with-icon-leading-spacing: 12px,
      item-with-icon-trailing-spacing: 12px,
    ),
    color: (
      container-shape: map.get($system, corner-extra-small),
      divider-color: map.get($system, surface-variant),
      item-label-text-color: map.get($system, on-surface),
      item-icon-color: map.get($system, on-surface-variant),
      item-hover-state-layer-color: m3-utils.color-with-opacity(
          map.get($system, on-surface), map.get($system, hover-state-layer-opacity)),
      item-focus-state-layer-color: m3-utils.color-with-opacity(
          map.get($system, on-surface), map.get($system, focus-state-layer-opacity)),
      container-color: map.get($system, surface-container),
      container-elevation-shadow: elevation.get-box-shadow(2),
    ),
    typography: (
      item-label-text-font: map.get($system, label-large-font),
      item-label-text-line-height: map.get($system, label-large-line-height),
      item-label-text-size: map.get($system, label-large-size),
      item-label-text-tracking: map.get($system, label-large-tracking),
      item-label-text-weight: map.get($system, label-large-weight),
    ),
    density: (),
  );
}
