@use '../core/tokens/m3-utils';
@use 'sass:map';
@use 'sass:list';
@use '../core/theming/theming';
@use '../core/theming/inspection';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, tab);

/// Generates the tokens for MDC tab
/// @param {String} $color-variant The color variant to use for the component
@function get-tokens($theme, $color-variant: null) {
  $system: m3-utils.get-system($theme);
  @if $color-variant {
    $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);
  }

  @return (
    base: (
      active-indicator-height: 2px,
      active-indicator-shape: 0,
      divider-height: 1px,
    ),
    color: (
      active-focus-indicator-color: map.get($system, primary),
      active-focus-label-text-color: map.get($system, on-surface),
      active-hover-indicator-color: map.get($system, primary),
      active-hover-label-text-color: map.get($system, on-surface),
      active-indicator-color: map.get($system, primary),
      active-label-text-color: map.get($system, on-surface),
      active-ripple-color: map.get($system, on-surface),
      divider-color: map.get($system, surface-variant),
      inactive-focus-label-text-color: map.get($system, on-surface),
      inactive-hover-label-text-color: map.get($system, on-surface),
      inactive-label-text-color: map.get($system, on-surface),
      inactive-ripple-color: map.get($system, on-surface),
      pagination-icon-color: map.get($system, on-surface),
    ),
    typography: (
      label-text-font: map.get($system, title-small-font),
      label-text-line-height: map.get($system, title-small-line-height),
      label-text-size: map.get($system, title-small-size),
      label-text-tracking: map.get($system, title-small-tracking),
      label-text-weight: map.get($system, title-small-weight),
    ),
    density: get-density-tokens(map.get($theme, inspection.$internals, density-scale)),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($scale) {
  $scale: theming.clamp-density($scale, -4);
  $index: ($scale * -1) + 1;

  @return (
    container-height: list.nth((48px, 44px, 40px, 36px, 32px), $index),
  );
}
