<mat-tab-list #tabList
              [groupId]="_groupId"
              [selectedIndex]="selectedIndex || 0"
              [disableRipple]="disableRipple"
              [disablePagination]="disablePagination"
              (focusChange)="_focusChanged($event)"
              (selectedIndexChange)="_handleSelectedIndexChange($event)">
              <mat-tab-list-label *ngFor="let tab of _tabs"
                                  [disabled]="tab.disabled"
                                  [ariaLabel]="tab.ariaLabel"
                                  [ariaLabelledby]="tab.ariaLabelledby"
                                  [templateLabel]="tab.templateLabel"
                                  [textLabel]="tab.textLabel">
              </mat-tab-list-label>
</mat-tab-list>

<div
  class="mat-tab-body-wrapper"
  [class._mat-animation-noopable]="_animationMode === 'NoopAnimations'"
  #tabBodyWrapper>
  <mat-tab-body role="tabpanel"
               *ngFor="let tab of _tabs; let i = index"
               [id]="_getTabContentId(i)"
               [attr.tabindex]="(contentTabIndex != null && selectedIndex === i) ? contentTabIndex : null"
               [attr.aria-labelledby]="_getTabLabelId(i)"
               [class.mat-tab-body-active]="selectedIndex === i"
               [content]="tab.content!"
               [position]="tab.position!"
               [origin]="tab.origin"
               [animationDuration]="animationDuration"
               (_onCentered)="_removeTabBodyWrapperHeight()"
               (_onCentering)="_setTabBodyWrapperHeight($event)">
  </mat-tab-body>
</div>
