@use '../core/style/variables';
@use './tabs-common';

.mat-tab-group {
  display: flex;
  flex-direction: column;

  // Fixes pagination issues inside flex containers (see #23157).
  max-width: 100%;

  &.mat-tab-group-inverted-header {
    flex-direction: column-reverse;
  }
}

// Wraps each tab label
.mat-tab-label {
  @include tabs-common.tab-label;
  position: relative;
}

@media (variables.$xsmall) {
  .mat-tab-label {
    padding: 0 12px;
  }
}

@media (variables.$small) {
  .mat-tab-label {
    padding: 0 12px;
  }
}

// Note that we only want to target direct descendant tabs.
.mat-tab-group[mat-stretch-tabs] > mat-tab-list > .mat-tab-header .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}
