<mat-tab-list #tabList
              [groupId]="_getGroupIdString()"
              [selectedIndex]="selectedIndex || 0"
              [disableRipple]="disableRipple"
              [color]="color"
              [backgroundColor]="backgroundColor"
              [disablePagination]="disablePagination"
              (focusChange)="_focusChanged($event)"
              (selectedIndexChange)="_handleSelectedIndexChange($event)">
  <mat-tab-list-item *ngFor="let tab of _tabs"
                      [disabled]="tab.disabled"
                      [ariaLabel]="tab.ariaLabel"
                      [ariaLabelledby]="tab.ariaLabelledby">
    <!-- If there is not a label template, fall back to the text label. -->
    <ng-template [ngIf]="!tab.templateLabel">{{tab.textLabel}}</ng-template>

    <!-- If there is a label template, use it. -->
    <ng-template [ngIf]="tab.templateLabel">
      <ng-template [cdkPortalOutlet]="tab.templateLabel"></ng-template>
    </ng-template>
  </mat-tab-list-item>
</mat-tab-list>

<div
  class="mat-tab-body-wrapper"
  [class._mat-animation-noopable]="_animationMode === 'NoopAnimations'"
  #tabBodyWrapper>
  <mat-tab-body role="tabpanel"
               *ngFor="let tab of _tabs; let i = index"
               [id]="_getTabContentId(i)"
               [attr.tabindex]="(contentTabIndex != null && selectedIndex === i) ? contentTabIndex : null"
               [attr.aria-labelledby]="_getTabLabelId(i)"
               [class.mat-tab-body-active]="selectedIndex === i"
               [content]="tab.content!"
               [position]="tab.position!"
               [origin]="tab.origin"
               [animationDuration]="animationDuration"
               (_onCentered)="_removeTabBodyWrapperHeight()"
               (_onCentering)="_setTabBodyWrapperHeight($event)">
  </mat-tab-body>
</div>
