@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.all-component-themes($theme);
}
