.example-grid-container {
  display: flex;
}

.example-grid {
  border-spacing: 4px;
}

.example-grid[aria-disabled='true'] {
  background: color-mix(
    in srgb,
    var(--mat-sys-on-surface) calc(var(--mat-sys-focus-state-layer-opacity) * 100%),
    transparent
  );
}

.example-grid-cell {
  height: 50px;
  width: 50px;
  border: 1px solid;
}
