@use 'sass:math';
@use '../../style/checkbox-common';

// Padding inside of a pseudo checkmark.
$padding: checkbox-common.$border-width * 2;

/// Applies the styles that set the size of the pseudo checkmark
@mixin size($box-size) {
  .mat-pseudo-checkmark {
    width: $box-size;
    height: $box-size;
  }
}

/// Applies the legacy size styles to the pseudo-checkmark
@mixin legacy-size() {
  @include size(check-common.$legacy-size);
}
