@import "elevation";
@import "default-theme";
@import "palette";
@import "mixins";

$md-button-toggle-padding: 0 16px !default;
$md-button-toggle-line-height: 36px !default;
$md-button-toggle-border-radius: 3px !default;

md-toggle-group {
  @include md-elevation(2);
  position: relative;
  display: inline-flex;
  border-radius: $md-button-toggle-border-radius;
  cursor: pointer;
  white-space: nowrap;
}


.md-toggle-checked .md-toggle-label-content {
  background-color: md-color($md-grey, 300);
}

.md-toggle-disabled .md-toggle-label-content {
  background-color: md-color($md-foreground, disabled);
  cursor: not-allowed;
}

md-toggle {
  white-space: nowrap;
}

.md-toggle-input {
  @include md-visually-hidden;
}

.md-toggle-label-content {
  display: inline-block;
  line-height: $md-button-toggle-line-height;
  padding: $md-button-toggle-padding;
  cursor: pointer;
}
