@import "elevation";
@import "default-theme";
@import "palette";
@import "mixins";

$md-padding: 0 16px !default;
$md-line-height: 36px !default;
$md-border-radius: 3px !default;

md-toggle-group {
  @include md-elevation(2);
  position: relative;
  display: inline-flex;
  border-radius: $md-border-radius;
  cursor: pointer;
  white-space: nowrap;
}


.md-toggle-checked .md-toggle-label-content {
  background-color: md-color($md-grey, 300);
}

.md-toggle-disabled .md-toggle-label-content {
  background-color: md-color($md-foreground, disabled);
  cursor: not-allowed;
}

md-toggle {
  white-space: nowrap;

  .md-toggle-input {
    @include md-visually-hidden;
  }

  .md-toggle-label-content {
    display: inline-block;
    line-height: $md-line-height;
    padding: $md-padding;
    cursor: pointer;
  }
}
