.mat-mdc-slider-visual-thumb .mat-ripple {
  height: 100%;
  width: 100%;
}

.mat-mdc-slider .mdc-slider__tick-marks {
  .mdc-slider__tick-mark--active,
  .mdc-slider__tick-mark--inactive {
    width: 4px;
    height: 4px;
    clip-path: circle(20%);
  }
}
