<!-- Inputs -->
<ng-content></ng-content>

<!-- Track -->
<div class="mdc-slider__track" [style.width]="_trackWidthStyle" [style.left]="_trackLeftStyle">
  <div class="mdc-slider__track--inactive"></div>
  <div class="mdc-slider__track--active">
    <div
      #trackActive
      class="mdc-slider__track--active_fill"
      [style.left]="_trackActiveLeft"
      [style.right]="_trackActiveRight"
      [style.transform]="_trackActiveTransform"
      [style.transform-origin]="_trackActiveTransformOrigin"
      [style.transition]="_transition"></div>
  </div>
  <div *ngIf="showTickMarks" class="mdc-slider__tick-marks" #tickMarkContainer>
    <ng-container *ngIf="_cachedTrackWidth">
        <div
          *ngFor="let tickMark of _tickMarks; let i = index"
          [class]="tickMark === 0 ? 'mdc-slider__tick-mark--active' : 'mdc-slider__tick-mark--inactive'"
          [style.transform]="_calcTickMarkTransform(i)"></div>
    </ng-container>
  </div>
</div>

<!-- Thumbs -->
<mat-slider-visual-thumb
  *ngIf="_isRange"
  [discrete]="discrete"
  [thumbPosition]="1"
  [valueIndicatorText]="startValueIndicatorText"
  [style.transform]="_startThumbTransform"
  [style.transition]="_transition"
  >
</mat-slider-visual-thumb>

<mat-slider-visual-thumb
  [discrete]="discrete"
  [thumbPosition]="2"
  [valueIndicatorText]="endValueIndicatorText"
  [style.transform]="_endThumbTransform"
  [style.transition]="_transition"
  >
</mat-slider-visual-thumb>
