@import '../mdc-helpers/mdc-helpers';

@mixin mat-radio-color-mdc($config) {
  @include mat-using-mdc-theme($config) {
    // TODO: MDC theme styles here.
  }
}

@mixin mat-radio-typography-mdc($config) {
  @include mat-using-mdc-typography($config) {
    // TODO: MDC typography styles here.
  }
}

@mixin mat-radio-density-mdc($density-scale) {}

@mixin mat-radio-theme-mdc($theme) {
  $color: mat-get-color-config($theme);
  $density: mat-get-density-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include mat-radio-color-mdc($color);
  }
  @if $density != null {
    @include mat-radio-density-mdc($density);
  }
  @if $typography != null {
    @include mat-radio-typography-mdc($typography);
  }
}
