@import '../mdc-helpers/mdc-helpers';
@import '@material/slider/mixins.import';

@mixin mat-slider-color-mdc($config) {
  @include mat-using-mdc-theme($config) {
    @include mdc-slider-core-styles($query: $mat-theme-styles-query);

    .mat-mdc-slider {
      &.mat-primary {
        @include mdc-slider-color-accessible(primary, $mat-theme-styles-query);
      }

      &.mat-warn {
        @include mdc-slider-color-accessible(error, $mat-theme-styles-query);
      }
    }
  }
}

@mixin mat-slider-typography-mdc($config) {
  @include mat-using-mdc-typography($config) {
    @include mdc-slider-core-styles($query: $mat-typography-styles-query);
  }
}

@mixin mat-slider-density-mdc($config) {}

@mixin mat-slider-theme-mdc($theme) {
  $color: mat-get-color-config($theme);
  $density: mat-get-density-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include mat-slider-color-mdc($color);
  }
  @if $density != null {
    @include mat-slider-density-mdc($density);
  }
  @if $typography != null {
    @include mat-slider-typography-mdc($typography);
  }
}

