@import '@material/slider/slider';
@import '@material/slider/slider-theme';
@import '../mdc-helpers/mdc-helpers';
@import '../../material/core/ripple/ripple';

@mixin mat-mdc-slider-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  @include mat-using-mdc-theme($config) {
    @include without-ripple($query: $mat-theme-styles-query);

    .mat-mdc-slider {
      &.mat-primary, &.mat-accent, &.mat-warn {
        @include value-indicator-color(
          $color: #000,
          $opacity: 0.6,
          $query: $mat-theme-styles-query
        );
        @include value-indicator-text-color(
          $color: on-primary,
          $query: $mat-theme-styles-query
        );
        @include tick-mark-active-color(
          $color-or-map: (
            default: on-primary,
            disabled: on-primary,
          ),
          $query: $mat-theme-styles-query
        );
      }

      &.mat-primary {
        @include custom-slider-color(primary);
      }

      &.mat-accent {
        @include custom-slider-color(secondary);
      }

      &.mat-warn {
        @include custom-slider-color(error);
      }
    }
  }
}

@mixin mat-mdc-slider-typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);
  @include mat-using-mdc-typography($config) {
    @include without-ripple($query: $mat-typography-styles-query);
  }
}

@mixin mat-mdc-slider-density($config-or-theme) {}

@mixin mat-mdc-slider-theme($theme-or-color-config) {
  $theme: mat-private-legacy-get-theme($theme-or-color-config);
  @include mat-private-check-duplicate-theme-styles($theme, 'mat-mdc-slider') {
    $color: mat-get-color-config($theme);
    $density: mat-get-density-config($theme);
    $typography: mat-get-typography-config($theme);

    @if $color != null {
      @include mat-mdc-slider-color($color);
    }
    @if $density != null {
      @include mat-mdc-slider-density($density);
    }
    @if $typography != null {
      @include mat-mdc-slider-typography($typography);
    }
  }
}

@mixin custom-slider-color($color) {
  @include thumb-color(
    $color-or-map: (
      default: $color,
      disabled: on-surface,
    ),
    $query: $mat-theme-styles-query
  );
  @include track-active-color(
    $color-or-map: (
      default: $color,
      disabled: on-surface,
    ),
    $query: $mat-theme-styles-query
  );
  @include track-inactive-color(
    $color-or-map: (
      default: $color,
      disabled: on-surface,
    ),
    $query: $mat-theme-styles-query
  );
  @include tick-mark-inactive-color(
    $color-or-map: (
      default: $color,
      disabled: on-primary,
    ),
    $query: $mat-theme-styles-query
  );
  @include mat-ripple-color((
    foreground: (
      base: mdc-theme-prop-value($color)
    ),
  ));
}
