<!-- Inputs -->
<ng-content></ng-content>

<!-- Track -->
<div class="mdc-slider__track">
  <div class="mdc-slider__track--inactive"></div>
  <div class="mdc-slider__track--active">
    <div class="mdc-slider__track--active_fill" #trackActive></div>
  </div>
  <div *ngIf="showTickMarks" class="mdc-slider__tick-marks" #tickMarkContainer>
    <div *ngFor="let tickMark of tickMarks" class="{{_getTickMarkClass(tickMark)}}"></div>
  </div>
</div>

<!-- Thumbs -->
<div class="mdc-slider__thumb" *ngFor="let thumb of _getThumbTypes()" #thumb>
  <div class="mdc-slider__value-indicator-container" *ngIf="discrete">
    <div class="mdc-slider__value-indicator">
      <span class="mdc-slider__value-indicator-text">
        {{_getValueIndicatorTextByThumb(thumb)}}
      </span>
    </div>
  </div>
  <div class="mdc-slider__thumb-knob" #knob></div>
</div>
