@use '@material/slider/slider' as mdc-slider;
@import '../mdc-helpers/mdc-helpers';

@include mdc-slider.without-ripple($query: $mat-base-styles-query);

.mdc-slider {
  display: block;
}

.mat-ripple {
  height: 100%;
  width: 100%;
}
