@use 'sass:map';
@use '../core/tokens/m3-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mat, sidenav);

/// Generates custom tokens for the mat-sidenav.
@function get-tokens($theme) {
  $system: m3-utils.get-system($theme);

  @return (
    base: (
      container-shape: map.get($system, corner-large),
      container-elevation-shadow: none,
      container-width: 360px,
    ),
    color: (
      container-background-color: map.get($system, surface),
      container-text-color: map.get($system, on-surface-variant),
      content-background-color: map.get($system, background),
      content-text-color: map.get($system, on-background),
      scrim-color: m3-utils.color-with-opacity(map.get($system, neutral-variant20), 40%),
      container-divider-color: transparent,
    ),
    typography: (),
    density: (),
  );
}
