@use '../../../styles/constants';

.docs-component-page-header {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  @media (max-width: constants.$small-breakpoint-width) {
    display: flex;
  }
}
