@use '@angular/material' as mat;

@mixin theme($theme) {
  app-navbar {
    color: mat.get-theme-color($theme, primary);

    .docs-navbar, .docs-navbar-header {
      background: mat.get-theme-color($theme, primary-container);

      .docs-navbar-header-item-selected {
        background: rgba(mat.get-theme-color($theme, primary), 0.1);
      }
    }
  }
}
