@use 'sass:map';
@use '../style/layout-common';
@use '../style/focus-indicators';

/// Mixin that turns on strong focus indicators.
///
/// @example
///   .my-app {
///     @include mat-strong-focus-indicators($config);
///   }

@mixin strong-focus-indicators($config: ()) {
  @include focus-indicators.private-strong-focus-indicators-helper();

  // Default focus indicator config.
  $default-config: (
    border-color: black,
  );

  // Merge default config with user config.
  $config: map.merge($default-config, $config);

  @if (&) {
    @include private-strong-focus-indicators-helper($config, 'mat');
  } @else {
    :root {
      @include private-strong-focus-indicators-helper($config, 'mat');
    }
  }

  // Base styles for focus indicators.
  .mat-focus-indicator::before {
    @include layout-common.fill();
    box-sizing: border-box;
    pointer-events: none;
    border: $border-width $border-style transparent;
    border-radius: $border-radius;
  }

  // For all other components, render the focus indicator on focus.
  .mat-focus-indicator:focus::before {
    content: '';
  }
}
