@use '@angular/material' as mat;

@mixin theme($theme) {
  .docs-guide-list .docs-guide-item {
    color: mat.get-theme-color($theme, on-surface-variant);
  }

  .docs-guide-item {
    &:focus,
    &:hover {
      outline: none;

      .docs-guide-card {
        background: mat.get-theme-color($theme, surface-dim);
      }
    }
  }
}
