@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $is-dark-theme: map.get($theme, is-dark);

  .docs-guide-list .docs-guide-item {
    color: mat.get-color-from-palette($primary, if($is-dark-theme, 200, default));
  }

  .docs-guide-card-divider {
    background: mat.get-color-from-palette($accent);
  }

  .docs-guide-card:hover {
    background: mat.get-color-from-palette($background, hover);
  }

  .docs-guide-item:focus {
    .docs-guide-card {
      background: mat.get-color-from-palette($background, focused-button);
    }
    outline: none;
  }
}
