@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../../app-theme';

$theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-rose-palette,
    tertiary: matx.$m3-red-palette,
  )
));

@include matx.color-variants-back-compat($theme);
@include app-theme.theme($theme);

:root {
  @include mat.all-component-themes($theme);
}
