@use 'sass:map';
@use '../core/theming/theming';
@use '../core/theming/inspection';
@use '../core/tokens/m2-utils';

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens($theme) {
  $system: m2-utils.get-system($theme);
  @return (
    button-toggle-focus-state-layer-opacity: map.get($system, focus-state-layer-opacity),
    button-toggle-hover-state-layer-opacity: map.get($system, hover-state-layer-opacity),
    button-toggle-legacy-focus-state-layer-opacity: 1,
    button-toggle-legacy-height: 36px,
    button-toggle-legacy-shape: 2px,
    button-toggle-shape: 4px,
  );
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($theme) {
  $system: m2-utils.get-system($theme);

  @return (
    button-toggle-background-color: map.get($system, surface),
    button-toggle-disabled-selected-state-background-color:
        inspection.get-theme-color($theme, background, selected-disabled-button),
    button-toggle-disabled-selected-state-text-color: map.get($system, on-surface),
    button-toggle-disabled-state-background-color: map.get($system, surface),
    button-toggle-disabled-state-text-color:
        inspection.get-theme-color($theme, foreground, disabled-button),
    button-toggle-divider-color: map.get($system, outline),
    button-toggle-legacy-disabled-selected-state-background-color:
        inspection.get-theme-color($theme, background, selected-disabled-button),
    button-toggle-legacy-disabled-state-background-color:
        inspection.get-theme-color($theme, background, disabled-button-toggle),
    button-toggle-legacy-disabled-state-text-color:
        inspection.get-theme-color($theme, foreground, disabled-button),
    button-toggle-legacy-selected-state-background-color:
        inspection.get-theme-color($theme, background, selected-button),
    button-toggle-legacy-selected-state-text-color: map.get($system, surface-variant),
    button-toggle-legacy-state-layer-color:
        inspection.get-theme-color($theme, background, focused-button),
    button-toggle-legacy-text-color: inspection.get-theme-color($theme, foreground, hint-text),
    button-toggle-selected-state-background-color:
        inspection.get-theme-color($theme, background, selected-button),
    button-toggle-selected-state-text-color: map.get($system, on-surface),
    button-toggle-state-layer-color: inspection.get-theme-color($theme, system, on-surface),
    button-toggle-text-color: map.get($system, on-surface),
  );
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($theme) {
  @return (
    button-toggle-label-text-font: inspection.get-theme-typography($theme, body-1, font-family),
    button-toggle-label-text-line-height:
        inspection.get-theme-typography($theme, body-1, line-height),
    button-toggle-label-text-size: inspection.get-theme-typography($theme, body-1, font-size),
    button-toggle-label-text-tracking:
        inspection.get-theme-typography($theme, body-1, letter-spacing),
    button-toggle-label-text-weight: inspection.get-theme-typography($theme, body-1, font-weight),
    button-toggle-legacy-label-text-font:
        inspection.get-theme-typography($theme, body-1, font-family),
    button-toggle-legacy-label-text-line-height:
        inspection.get-theme-typography($theme, body-1, line-height),
    button-toggle-legacy-label-text-size:
        inspection.get-theme-typography($theme, body-1, font-size),
    button-toggle-legacy-label-text-tracking:
        inspection.get-theme-typography($theme, body-1, letter-spacing),
    button-toggle-legacy-label-text-weight:
        inspection.get-theme-typography($theme, body-1, font-weight),
  );
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  $density-scale: theming.clamp-density(inspection.get-theme-density($theme), -4);
  $size-scale: (
    0: 48px,
    -1: 44px,
    -2: 40px,
    -3: 36px,
    -4: 24px,
  );

  @return (
    button-toggle-height: map.get($size-scale, $density-scale)
  );
}
