@import '../../../styles/constants';

.docs-component-category-list-summary {
  padding: 25px 40px 0;
}

.docs-component-category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  @media (max-width: $small-breakpoint-width) {
    justify-content: center;
  }
}

.docs-component-category-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 260px;

  .docs-component-category-list-card-title {
    align-items: center;
    display: flex;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.docs-component-category-list-card-summary {
  padding: 0 15px 15px 15px;
  min-height: 2.4em;
  font-size: 15px;
}
